<%- include('../layout/Header.ejs') -%>
    <div id="">
        <%- include('../layout/Navbar.ejs') -%>
            <div class="page-wrapper" id="top">
                <section>
                    <div class="auto-container pt-100 pb-150">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="error-page__inner">
                                    <div class="error-page__title-box"><img src="images/resource/404.jpg"
                                            title="Oitech" />
                                        <h3 class="error-page__sub-title">Page not found!</h3>
                                    </div>
                                    <p class="error-page__text">Sorry we can&#x27;t find that page! The page you are
                                        looking
                                        for was never existed.</p>
                                    <form class="error-page__form" action="#">
                                        <div class="error-page__form-input"><input type="search"
                                                placeholder="Search here" /><button type="submit"><i
                                                    class="lnr lnr-icon-magnifier"></i></button></div>
                                    </form><a class="theme-btn btn-style-one shop-now" href="index.html"><span
                                            class="btn-title">Back to Home</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div><a class="scroll-to-top scroll-to-target d-block" href="#top"><span class="fa fa-angle-up"></span></a>
    </div>


    <%- include('../layout/Footer.ejs') -%>