
<%- include('../layout/Header.ejs') -%>
<div id="">
    <%- include('../layout/Navbar.ejs') -%>

    <div class="page-wrapper" id="top">
        <section class="page-title" style="background-image:url(images/resource/service-details.jpg)">
            <div class="auto-container">
                <div class="title-outer">
                    <h1 class="title">About Us</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html">Pages</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="about-section">
            <div class="auto-container">
                <div class="row">
                    <div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInRight"
                        data-wow-delay="600ms">
                        <div class="inner-column">
                            <div class="sec-title"><span class="sub-title">About Our Company</span>
                                <h2>We Execute Our ideas From The Start to Finish</h2>
                                <div class="text">Web designing in a powerful way of just not an only professions,
                                    however, in a passion for our Company. We have to a tendency to believe the idea
                                    that smart looking of any website is the first impression on visitors.</div>
                            </div>
                            <div class="content-box">
                                <div class="info-box">
                                    <h5 class="title">High Quality IT Solutions for Startup</h5><a class="read-more"
                                        href="index.html#">More <i class="fa fa-long-arrow-alt-right"></i></a>
                                </div>
                                <div class="about-block"><i class="icon flaticon-business-018-startup"></i>
                                    <h5 class="title">Manage Tech Services </h5>
                                    <div class="text">We’ve designed a culture that allows our stewards to
                                        assimilate</div>
                                </div>
                                <div class="about-block"><i class="icon flaticon-business-027-world"></i>
                                    <h5 class="title">Internal Networking</h5>
                                    <div class="text">We’ve designed a culture that allows our stewards to
                                        assimilate.</div>
                                </div>
                            </div>
                            <div class="btm-box"><a class="theme-btn btn-style-one" href="page-about"><span
                                        class="btn-title">Discover more</span></a></div>
                        </div>
                    </div>
                    <div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
                        <div class="inner-column wow fadeInLeft">
                            <figure class="image-1 overlay-anim wow fadeInUp"><img src="images/resource/about-1.jpg"
                                    title="Oitech" /></figure>
                            <figure class="image-2 overlay-anim wow fadeInRight"><img
                                    src="images/resource/about-2.jpg" title="Oitech" /></figure>
                            <div class="experience bounce-y"><img src="images/resource/image-1.jpg" title="Oitech"
                                    class="icon" /><strong>3600+</strong> Satisfied Client</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services-section">
            <div class="auto-container">
                <div class="sec-title text-center"><span class="sub-title">Services we’re offering</span>
                    <h2>High quality products and services<br /> that we stand behind</h2>
                </div>
                <div class="row">
                    <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="page-service-details"><img
                                            src="images/resource/service-1.jpg" title="Oitech" /></a></figure>
                                <div class="icon-box"><i class="icon flaticon-business-010-startup"></i></div>
                            </div>
                            <div class="content-box">
                                <h5 class="title"><a href="page-service-details">Product Development</a></h5>
                                <div class="text">We’ve designed a culture that allows our stewards to assimilate
                                </div><a class="read-more" href="page-service-details">read More <i
                                        class="fa fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="page-service-details"><img
                                            src="images/resource/service-2.jpg" title="Oitech" /></a></figure>
                                <div class="icon-box"><i class="icon flaticon-business-002-graph"></i></div>
                            </div>
                            <div class="content-box">
                                <h5 class="title"><a href="page-service-details">UI/UX Designing</a></h5>
                                <div class="text">We’ve designed a culture that allows our stewards to assimilate
                                </div><a class="read-more" href="page-service-details">read More <i
                                        class="fa fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="page-service-details"><img
                                            src="images/resource/service-3.jpg" title="Oitech" /></a></figure>
                                <div class="icon-box"><i class="icon flaticon-business-048-coin"></i></div>
                            </div>
                            <div class="content-box">
                                <h5 class="title"><a href="page-service-details">Digital Marketing</a></h5>
                                <div class="text">We’ve designed a culture that allows our stewards to assimilate
                                </div><a class="read-more" href="page-service-details">read More <i
                                        class="fa fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="offer-section">
            <div class="auto-container">
                <div class="row">
                    <div class="content-column col-lg-6 col-md-12">
                        <div class="inner-column">
                            <div class="sec-title light"><span class="sub-title">Tech management</span>
                                <h2>The Best Source for IT Solutions</h2>
                                <div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu convenient scheduling, account fugiat nulla pariatur.</div>
                            </div>
                            <div class="info-box"><i class="icon flaticon-business-036-idea"></i>
                                <h5 class="title">We’re doing the right thing.<br /> The right way.</h5>
                            </div>
                            <ul class="list-style-two">
                                <li><i class="fa fa-check-circle"></i> Lorem Ipsum is not simply random text</li>
                                <li><i class="fa fa-check-circle"></i> Making this the first true generator on the
                                    Internet</li>
                                <li><i class="fa fa-check-circle"></i> Various versions have evolved over the years
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image-box">
                                <figure class="image"><img src="images/resource/image-3.jpg" title="Oitech" />
                                </figure>
                                <div class="caption-box wow slideInRight">
                                    <div class="icon-box"><a class="play-now-two lightbox-image"><i
                                                class="icon fa fa-play"></i></a></div>
                                    <div class="title-box">
                                        <h5 class="title">Professional IT technology services you can trust</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="fun-fact-section">
            <div class="auto-container">
                <div class="fact-counter">
                    <div class="row">
                        <div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner"><i class="icon flaticon-business-060-graph"></i>
                                <div class="count-box"><span>count</span></div>
                                <h6 class="counter-title">Project completed</h6>
                            </div>
                        </div>
                        <div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                            <div class="inner"><i class="icon flaticon-business-035-helpline"></i>
                                <div class="count-box"><span>count</span></div>
                                <h6 class="counter-title">IT specialists</h6>
                            </div>
                        </div>
                        <div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                            <div class="inner"><i class="icon flaticon-business-020-hierarchy"></i>
                                <div class="count-box"><span>count</span></div>
                                <h6 class="counter-title">Satisfied clients</h6>
                            </div>
                        </div>
                        <div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
                            <div class="inner"><i class="icon flaticon-business-048-coin"></i>
                                <div class="count-box"><span>count</span></div>
                                <h6 class="counter-title">Smart solutions</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <%- include('../layout/Footer.ejs') -%>
