<%- include('../layout/Header.ejs') -%>
    <div id="">
        <%- include('../layout/Navbar.ejs') -%>

        <div class="page-wrapper" id="top">
            <section class="page-title" style="background-image:url(images/resource/service-details.jpg)">
                <div class="auto-container">
                    <div class="title-outer">
                        <h1 class="title">Contact</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index.html">Pages</a></li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="contact-section-three">
                <div class="auto-container">
                    <div class="row">
                        <div class="info-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column wow fadeInRight ps-0 pe-4">
                                <div class="sec-title light">
                                    <div class="sub-title">Get in Touch</div>
                                    <h2>Get a free quote today</h2>
                                    <div class="text">Web designing in a powerful way of just not an only professions,
                                        however, in a passion for our company</div>
                                </div>
                                <div class="contact-info-box-two"><span class="icon fa fa-map-marker-alt"></span>
                                    <h6 class="title">Visit Us</h6>
                                    <div class="text">66 Road Broklyn Street, 600 New York, USA</div>
                                </div>
                                <div class="contact-info-box-two"><span class="icon fa fa-envelope"></span>
                                    <h6 class="title">Email address</h6>
                                    <div class="text"><a href="mailto:needhelp@company.com">needhelp@company.com</a>
                                    </div>
                                </div>
                                <div class="contact-info-box-two"><span class="icon fa fa-phone"></span>
                                    <h6 class="title">Call now</h6>
                                    <div class="text"><a href="tel:+999000111222">+999 000 111 222</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="contact-form-two style-two wow fadeInLeft">
                                    <form method="post" action="#" id="contact-form">
                                        <div class="row">
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12"><input type="text"
                                                    name="full_name" placeholder="Your Name" required="" /></div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12"><input type="email"
                                                    name="Email" placeholder="Email Address" required="" /></div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12"><input type="text"
                                                    name="Phone" placeholder="Phone Number" required="" /></div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12"><input type="text"
                                                    name="subject" placeholder="Subject" required="" /></div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12"><textarea
                                                    name="message" placeholder="Write Message"></textarea></div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12"><button
                                                    class="theme-btn btn-style-one hvr-light" type="submit"
                                                    name="submit-form"><span class="btn-title">Send a
                                                        message</span></button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="map-section"><iframe class="map"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                <div class="branches-outer">
                    <div class="auto-container">
                        <div class="row">
                            <div class="branch-block col-lg-4 col-md-12 col-sm-12">
                                <div class="inner-box">
                                    <h5 class="title">New York</h5>
                                    <ul class="info-list">
                                        <li><i class="fa fa-phone"></i> <a href="tel:666888000">666 888 000</a><br />
                                        </li>
                                        <li><i class="fa fa-envelope"></i> <a
                                                href="mailto:needhelp@company.com">needhelp@company.com</a><br /></li>
                                        <li><i class="fa fa-map-marker-alt"></i> 35 Deerfield Valdosta Road, United
                                            Kingdom</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="branch-block col-lg-4 col-md-12 col-sm-12">
                                <div class="inner-box">
                                    <h5 class="title">Washington DC</h5>
                                    <ul class="info-list">
                                        <li><i class="fa fa-phone"></i> <a href="tel:666888000">666 888 000</a><br />
                                        </li>
                                        <li><i class="fa fa-envelope"></i> <a
                                                href="mailto:needhelp@company.com">needhelp@company.com</a><br /></li>
                                        <li><i class="fa fa-map-marker-alt"></i> 35 Deerfield Valdosta Road, United
                                            Kingdom</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="branch-block col-lg-4 col-md-12 col-sm-12">
                                <div class="inner-box">
                                    <h5 class="title">Las Vegas</h5>
                                    <ul class="info-list">
                                        <li><i class="fa fa-phone"></i> <a href="tel:666888000">666 888 000</a><br />
                                        </li>
                                        <li><i class="fa fa-envelope"></i> <a
                                                href="mailto:needhelp@company.com">needhelp@company.com</a><br /></li>
                                        <li><i class="fa fa-map-marker-alt"></i> 35 Deerfield Valdosta Road, United
                                            Kingdom</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
      
        </div><a class="scroll-to-top scroll-to-target d-block" href="#top"><span class="fa fa-angle-up"></span></a>
    </div>
<%- include('../layout/Footer.ejs') -%>
