<%- include('../layout/Header.ejs') -%>

    <div id="">
        <%- include('../layout/Navbar.ejs') -%>

        <div class="page-wrapper" id="top">
      
            <section class="page-title" style="background-image:url(images/resource/service-details.jpg)">
                <div class="auto-container">
                    <div class="title-outer">
                        <h1 class="title">FAQ</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index.html">Pages</a></li>
                            <li>FAQ</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="faqs-section pt-100 pb-100">
                <div class="auto-container">
                    <div class="row">
                        <div class="form-column col-lg-6 col-md-12 col-sm-12">
                            <ul class="accordion-box wow fadeInRight">
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">Is my technology allowed on tech?<div
                                            class="icon fa fa-plus"></div>
                                    </div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="text">There are many variations of passages the majority have
                                                suffered alteration in some fo injected humour, or randomised words
                                                believable.</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">How to soft launch your business?<div class="icon fa fa-plus">
                                        </div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">There are many variations of passages the majority have
                                                suffered alteration in some fo injected humour, or randomised words
                                                believable.</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">How to turn visitors into contributors<div
                                            class="icon fa fa-plus"></div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">There are many variations of passages the majority have
                                                suffered alteration in some fo injected humour, or randomised words
                                                believable.</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">How can i find my solutions?<div class="icon fa fa-plus"></div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">There are many variations of passages the majority have
                                                suffered alteration in some fo injected humour, or randomised words
                                                believable.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-column col-lg-6 col-md-12 col-sm-12">
                            <ul class="accordion-box wow fadeInRight">
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">Is my technology allowed on tech?<div
                                            class="icon fa fa-plus"></div>
                                    </div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="text">There are many variations of passages the majority have
                                                suffered alteration in some fo injected humour, or randomised words
                                                believable.</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">How to soft launch your business?<div class="icon fa fa-plus">
                                        </div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">There are many variations of passages the majority have
                                                suffered alteration in some fo injected humour, or randomised words
                                                believable.</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">How to turn visitors into contributors<div
                                            class="icon fa fa-plus"></div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">There are many variations of passages the majority have
                                                suffered alteration in some fo injected humour, or randomised words
                                                believable.</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">How can i find my solutions?<div class="icon fa fa-plus"></div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">There are many variations of passages the majority have
                                                suffered alteration in some fo injected humour, or randomised words
                                                believable.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
 <%- include('../layout/Footer.ejs') -%>
