<%- include('../layout/Header.ejs') -%>


    <div id="">
        <%- include('../layout/Navbar.ejs') -%>

            <div class="page-wrapper" id="top">
               
                <section class="banner-section-four">
                    <div class="banner-carousel">
                        <div class="swiper project-carousel">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1">
                                    <div class="slide-item">
                                        <div class="bg-image" style="background-image:url(images/main-slider/4.jpg)">
                                        </div>
                                        <div class="auto-container">
                                            <div class="content-box">
                                                <h1 class="title animate-1">Tools For <br />Development</h1>
                                                <div class="text animate-2">There are many of passages of lorem Ipsum,
                                                    but
                                                    the majori have<br /> suffered alteration in some form.</div>
                                                <div class="btn-box animate-3"><a
                                                        class="theme-btn btn-style-one hvr-light"
                                                        href="/about"><span class="btn-title">Discover
                                                            more</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="0">
                                    <div class="slide-item">
                                        <div class="bg-image" style="background-image:url(images/main-slider/5.jpg)">
                                        </div>
                                        <div class="auto-container">
                                            <div class="content-box">
                                                <h1 class="title animate-1">Tools For <br />Development</h1>
                                                <div class="text animate-2">There are many of passages of lorem Ipsum,
                                                    but
                                                    the majori have<br /> suffered alteration in some form.</div>
                                                <div class="btn-box animate-3"><a
                                                        class="theme-btn btn-style-one hvr-light"
                                                        href="/about"><span class="btn-title">Discover
                                                            more</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="1">
                                    <div class="slide-item">
                                        <div class="bg-image" style="background-image:url(images/main-slider/4.jpg)">
                                        </div>
                                        <div class="auto-container">
                                            <div class="content-box">
                                                <h1 class="title animate-1">Tools For <br />Development</h1>
                                                <div class="text animate-2">There are many of passages of lorem Ipsum,
                                                    but
                                                    the majori have<br /> suffered alteration in some form.</div>
                                                <div class="btn-box animate-3"><a
                                                        class="theme-btn btn-style-one hvr-light"
                                                        href="/about"><span class="btn-title">Discover
                                                            more</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                    <div class="slide-item">
                                        <div class="bg-image" style="background-image:url(images/main-slider/5.jpg)">
                                        </div>
                                        <div class="auto-container">
                                            <div class="content-box">
                                                <h1 class="title animate-1">Tools For <br />Development</h1>
                                                <div class="text animate-2">There are many of passages of lorem Ipsum,
                                                    but
                                                    the majori have<br /> suffered alteration in some form.</div>
                                                <div class="btn-box animate-3"><a
                                                        class="theme-btn btn-style-one hvr-light"
                                                        href="/about"><span class="btn-title">Discover
                                                            more</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="features-section-six">
                    <div class="auto-container">
                        <div class="row">
                            <div class="feature-block-six col-lg-4 col-md-6 col-sm-12">
                                <div class="inner-box "><span class="icon">46+</span>
                                    <h3 class="title"><a href="index.html#">Internet &amp;<br /> Cyber Security
                                            <br />Solutions</a></h3><a class="theme-btn btn-style-two small hvr-light"
                                        href="/services"><span class="btn-title">Find Your Solution</span></a>
                                </div>
                            </div>
                            <div class="feature-block-six col-lg-4 hide-md ">
                                <div class="inner-box ">
                                    <figure class="image"><img src="images/resource/feature-bg-6.jpg" title="Oitech" />
                                    </figure>
                                </div>
                            </div>
                            <div class="feature-block-six col-lg-4 col-md-6 col-sm-12">
                                <div class="inner-box "><span class="icon flaticon-business-030-settings"></span>
                                    <h3 class="title"><a href="index.html#">Expert IT <br />Consultants
                                            <br />Available</a>
                                    </h3><a class="theme-btn btn-style-two small hvr-light" href="/team"><span
                                            class="btn-title">Find Your Solution</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="about-section-five style-two pt-0">
                    <div class="auto-container">
                        <div class="row">
                            <div class="content-column col-xl-6 col-lg-6 col-md-12 order-2 wow fadeInRight"
                                data-wow-delay="600ms">
                                <div class="inner-column">
                                    <div class="sec-title"><span class="sub-title">Welcome to tech</span>
                                        <h2>Expert of Software Programming</h2>
                                        <div class="text">Web designing in a powerful way of just not an only
                                            professions,
                                            however, in a passion for our Company. We have to a tendency to believe the
                                            idea
                                            that smart looking of any website is the first</div>
                                    </div>
                                    <ul class="list-style-three">
                                        <li>Nullam vel orci ac</li>
                                        <li>Maecenas id libero</li>
                                        <li>Donec eu arcu non</li>
                                        <li>Proin mattis purus</li>
                                    </ul>
                                    <div class="btn-box d-flex align-items-center"><a class="theme-btn btn-style-one"
                                            href="/about"><span class="btn-title">Discover more</span></a><a
                                            class="info-btn" href="tel:+92(8800)9806"><i
                                                class="icon fa fa-phone"></i><small>Call Anytime</small><br /> + 88 (
                                            9800 )
                                            6802</a></div>
                                </div>
                            </div>
                            <div class="image-column col-xl-6 col-lg-6 col-md-12 ">
                                <div class="inner-column">
                                    <div class="image-box">
                                        <figure class="image overlay-anim wow fadeInUp"><img
                                                src="images/resource/about-11.jpg" title="Oitech" /></figure>
                                        <div class="experience"><strong>26</strong>
                                            <div class="text">Years <br />Experience</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="offer-section-four">
                    <div class="auto-container">
                        <div class="outer-box">
                            <div class="row">
                                <div class="content-column col-xl-5 col-lg-6 col-md-12">
                                    <div class="inner-column wow fadeInRight">
                                        <div class="sec-title"><span class="sub-title">company benefits</span>
                                            <h2>Always Deliver More than you Expected</h2>
                                        </div>
                                        <div class="info-box"><span class="count">01</span>
                                            <h5 class="title">End to End Developement</h5>
                                            <div class="text">Sed non odio non elit porttitor tincidunt. Donec fermentum
                                                tendency elit sit amet</div>
                                        </div>
                                        <div class="info-box"><span class="count">02</span>
                                            <h5 class="title">Software IT Outsource</h5>
                                            <div class="text">Sed non odio non elit porttitor tincidunt. Donec fermentum
                                                tendency elit sit amet</div>
                                        </div>
                                        <div class="info-box"><span class="count">03</span>
                                            <h5 class="title">Digital Marketing</h5>
                                            <div class="text">Sed non odio non elit porttitor tincidunt. Donec fermentum
                                                tendency elit sit amet</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-column col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner-column wow fadeInLeft">
                                        <div class="image-box">
                                            <figure class="image"><img src="images/resource/benefits-2.jpg"
                                                    title="Oitech" /></figure>
                                            <div class="caption">Execute your Ideas from start</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="industries-section style-two">
                    <div class="auto-container">
                        <div class="sec-title text-center light"><span class="sub-title">Services we’re offering</span>
                            <h2>We’re Dedicated to Serve <br />you All Time</h2>
                        </div>
                        <div class="row justify-content-center">
                            <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
                                <div class="inner-box "><i class="icon flaticon-business-011-dollar"></i>
                                    <h6 class="title"><a href="/service-details">Banking</a></h6>
                                </div>
                            </div>
                            <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
                                <div class="inner-box "><i class="icon flaticon-business-049-presentation"></i>
                                    <h6 class="title"><a href="/service-details">Healthcare</a></h6>
                                </div>
                            </div>
                            <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
                                <div class="inner-box "><i class="icon flaticon-business-061-meeting"></i>
                                    <h6 class="title"><a href="/service-details">Education</a></h6>
                                </div>
                            </div>
                            <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
                                <div class="inner-box "><i class="icon flaticon-business-030-settings"></i>
                                    <h6 class="title"><a href="/service-details">Manufacturing</a></h6>
                                </div>
                            </div>
                            <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
                                <div class="inner-box "><i class="icon flaticon-business-054-graph"></i>
                                    <h6 class="title"><a href="/service-details">Capital Markets</a></h6>
                                </div>
                            </div>
                            <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
                                <div class="inner-box "><i class="icon flaticon-business-020-hierarchy"></i>
                                    <h6 class="title"><a href="/service-details">Networking</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="project-section pb-0  alternate pb-0">
                    <div class="auto-container">
                        <div class="sec-title">
                            <div class="row">
                                <div class="col-lg-7"><span class="sub-title">recently Completed work</span>
                                    <h2>Improve &amp; Enhance the <br />Tech Projects</h2>
                                </div>
                                <div class="col-lg-5">
                                    <div class="text">There are many variations of passages of available but majority
                                        have
                                        suffered alteration in some form, by humou or randomised words which don&#x27;t
                                        look
                                        even slightly believable.</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-outer">
                            <div class="swiper project-carousel">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide project-block swiper-slide-duplicate"
                                        data-swiper-slide-index="0">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-1.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide project-block swiper-slide-duplicate"
                                        data-swiper-slide-index="1">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-2.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Smart Visions</a></h4>
                                                <span class="cat">Design</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide project-block swiper-slide-duplicate"
                                        data-swiper-slide-index="2">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-3.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Platform
                                                        Integration</a>
                                                </h4><span class="cat">Design</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide project-block swiper-slide-duplicate"
                                        data-swiper-slide-index="3">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-4.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Web Development</a>
                                                </h4>
                                                <span class="cat">Design</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide project-block" data-swiper-slide-index="0">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-1.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide project-block" data-swiper-slide-index="1">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-2.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Smart Visions</a></h4>
                                                <span class="cat">Design</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide project-block" data-swiper-slide-index="2">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-3.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Platform
                                                        Integration</a>
                                                </h4><span class="cat">Design</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide project-block" data-swiper-slide-index="3">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-4.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Web Development</a>
                                                </h4>
                                                <span class="cat">Design</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide project-block swiper-slide-duplicate"
                                        data-swiper-slide-index="0">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-1.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide project-block swiper-slide-duplicate"
                                        data-swiper-slide-index="1">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-2.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Smart Visions</a></h4>
                                                <span class="cat">Design</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide project-block swiper-slide-duplicate"
                                        data-swiper-slide-index="2">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-3.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Platform
                                                        Integration</a>
                                                </h4><span class="cat">Design</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide project-block swiper-slide-duplicate"
                                        data-swiper-slide-index="3">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><a class="lightbox-image"
                                                        href="images/resource/project-1.jpg"><img
                                                            src="images/resource/project-4.jpg" title="Oitech" /></a>
                                                </figure><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                            </div>
                                            <div class="content-box">
                                                <h4 class="title"><a href="/project-details">Web Development</a>
                                                </h4>
                                                <span class="cat">Design</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="pricing-section">
                    <div class="auto-container">
                        <div class="row">
                            <div class="content-column col-xl-6 col-lg-12 col-md-12">
                                <div class="inner-column wow fadeInRight">
                                    <div class="sec-title"><span class="sub-title">Our pricing plans</span>
                                        <h2>Choose Your Optimal Pricing Plans</h2>
                                    </div>
                                    <div class="info-box"><span class="icon fa fa-check"></span>
                                        <h5 class="title">Quality Services</h5>
                                        <div class="text">There are many variations of passages of Lorem Ipsum
                                            available,
                                            but the majority have suffered</div>
                                    </div>
                                    <div class="info-box"><span class="icon fa fa-check"></span>
                                        <h5 class="title">Business Management</h5>
                                        <div class="text">There are many variations of passages of Lorem Ipsum
                                            available,
                                            but the majority have suffered.</div>
                                    </div>
                                    <div class="info-box"><span class="icon fa fa-check"></span>
                                        <h5 class="title">Expert IT Team</h5>
                                        <div class="text">There are many variations of passages of Lorem Ipsum
                                            available,
                                            but the majority have suffered.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                <div class="inner-column wow fadeInLeft">
                                    <div class="pricing-block">
                                        <div class="inner-box">
                                            <figure class="image"><img src="images/resource/pricing-1.png"
                                                    title="Oitech" />
                                            </figure>
                                            <div class="price-box">
                                                <h4 class="price"><sup>$</sup>49</h4><span class="validaty">/
                                                    Monthly</span>
                                            </div>
                                            <h4 class="title">Basic Plan</h4>
                                            <ul class="features">
                                                <li>24/7 system monitoring</li>
                                                <li>Security management</li>
                                                <li>Patch management</li>
                                                <li>Remote support</li>
                                            </ul>
                                            <div class="btn-box"><a class="theme-btn btn-style-one hvr-light"
                                                    href="/pricing"><span class="btn-title">Choose plan</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pricing-block style-two pull-left">
                                        <div class="inner-box">
                                            <figure class="image"><img src="images/resource/pricing-2.png"
                                                    title="Oitech" />
                                            </figure>
                                            <div class="price-box">
                                                <h4 class="price"><sup>$</sup>69</h4><span class="validaty">/
                                                    Monthly</span>
                                            </div>
                                            <h4 class="title">Pro Plan</h4>
                                            <ul class="features">
                                                <li>24/7 system monitoring</li>
                                                <li>Security management</li>
                                                <li>Patch management</li>
                                                <li>Remote support</li>
                                            </ul>
                                            <div class="btn-box"><a class="theme-btn btn-style-three"
                                                    href="/pricing"><span class="btn-title">Choose plan</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="services-section-five" style="background-image:url(images/background/5.jpg)">
                    <div class="auto-container">
                        <div class="sec-title light text-center"><span class="sub-title">Services we’re offering</span>
                            <h2>We Provide our Clients <br />Best IT Services</h2>
                        </div>
                        <div class="row">
                            <div class="service-block-five col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                                <div class="inner-box ">
                                    <div class="icon-box"><i class="icon flaticon-business-035-helpline"></i></div>
                                    <h4 class="title"><a href="/service-details">Consultancy</a></h4>
                                    <div class="text">Taking seamless key performance indicators offline to maximise the
                                        tail</div>
                                </div>
                            </div>
                            <div class="service-block-five col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
                                data-wow-delay="400ms">
                                <div class="inner-box ">
                                    <div class="icon-box"><i class="icon flaticon-business-010-startup"></i></div>
                                    <h4 class="title"><a href="/service-details">Development</a></h4>
                                    <div class="text">Taking seamless key performance indicators offline to maximise the
                                        tail</div>
                                </div>
                            </div>
                            <div class="service-block-five col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
                                data-wow-delay="800ms">
                                <div class="inner-box ">
                                    <div class="icon-box"><i class="icon flaticon-business-032-megaphone"></i></div>
                                    <h4 class="title"><a href="/service-details">Marketing</a></h4>
                                    <div class="text">Taking seamless key performance indicators offline to maximise the
                                        tail</div>
                                </div>
                            </div>
                            <div class="service-block-five col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
                                data-wow-delay="1200ms">
                                <div class="inner-box ">
                                    <div class="icon-box"><i class="icon flaticon-business-063-diamond"></i></div>
                                    <h4 class="title"><a href="/service-details">Softwares</a></h4>
                                    <div class="text">Taking seamless key performance indicators offline to maximise the
                                        tail</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="faqs-section style-two">
                    <div class="auto-container">
                        <div class="row">
                            <div class="faq-column col-xl-6 col-lg-12 col-md-12 order-4">
                                <div class="inner-column">
                                    <div class="sec-title"><span class="sub-title">Questions &amp; answers</span>
                                        <h2>See Frequently Asked Questions</h2>
                                    </div>
                                    <ul class="accordion-box wow fadeInRight">
                                        <li class="accordion block active-block">
                                            <div class="acc-btn active">Is my technology allowed on tech?<div
                                                    class="icon fa fa-plus"></div>
                                            </div>
                                            <div class="acc-content current">
                                                <div class="content">
                                                    <div class="text">There are many variations of passages the majority
                                                        have suffered alteration in some fo injected humour, or
                                                        randomised
                                                        words believable.</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="accordion block">
                                            <div class="acc-btn">How to soft launch your business?<div
                                                    class="icon fa fa-plus"></div>
                                            </div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">There are many variations of passages the majority
                                                        have suffered alteration in some fo injected humour, or
                                                        randomised
                                                        words believable.</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="accordion block">
                                            <div class="acc-btn">How to turn visitors into contributors<div
                                                    class="icon fa fa-plus"></div>
                                            </div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">There are many variations of passages the majority
                                                        have suffered alteration in some fo injected humour, or
                                                        randomised
                                                        words believable.</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="accordion block">
                                            <div class="acc-btn">How can i find my solutions?<div
                                                    class="icon fa fa-plus">
                                                </div>
                                            </div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">There are many variations of passages the majority
                                                        have suffered alteration in some fo injected humour, or
                                                        randomised
                                                        words believable.</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="image-column col-xl-6 col-lg-12 col-md-12">
                                <div class="inner-column">
                                    <figure class="image"><img src="images/resource/faq.jpg" title="Oitech" /></figure>
                                    <div class="info-box">
                                        <div class="inner"><span class="icon flaticon-business-063-diamond"></span>
                                            <h3 class="title">Trusted IT Solution<br /> &amp; Service Business Agency
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="testimonial-section-four">
                    <div class="auto-container">
                        <div class="row">
                            <div class="title-column col-xl-5 col-lg-6 col-md-12">
                                <div class="inner-column">
                                    <div class="sec-title"><span class="sub-title">Our feedbacks</span>
                                        <h2>What They’re Talking About Us</h2>
                                        <div class="text">There are many variations of passages the majority have
                                            suffered
                                            alteration in some fo injected humour, or randomised words believable.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-column col-xl-7 col-lg-6 col-md-12">
                                <div class="carousel-outer">
                                    <div class="testimonial-bg"
                                        style="background-image:url(images/resource/testimonial-bg.png)"></div>
                                    <div class="swiper testimonial-carousel">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide testimonial-block-four swiper-slide-duplicate"
                                                data-swiper-slide-index="2">
                                                <div class="inner-box">
                                                    <div class="content-box"><span class="icon icon-quote"></span>
                                                        <div class="rating"><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                        <div class="text">Proin a lacus arcu. Nullam id dui eu orci
                                                            maximus.
                                                            Cras at auctor lectus, vel pretium tellus. Class aptent
                                                            sociosqu
                                                            ad litora torquent per conubia nostra.</div>
                                                    </div>
                                                    <div class="info-box">
                                                        <figure class="thumb"><img
                                                                src="images/resource/testi-thumb-3.jpg"
                                                                title="Oitech" /></figure>
                                                        <h5 class="name">Jessica Brown</h5><span class="designation">Co
                                                            Founder</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide testimonial-block-four"
                                                data-swiper-slide-index="0">
                                                <div class="inner-box">
                                                    <div class="content-box"><span class="icon icon-quote"></span>
                                                        <div class="rating"><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                        <div class="text">Proin a lacus arcu. Nullam id dui eu orci
                                                            maximus.
                                                            Cras at auctor lectus, vel pretium tellus. Class aptent
                                                            sociosqu
                                                            ad litora torquent per conubia nostra.</div>
                                                    </div>
                                                    <div class="info-box">
                                                        <figure class="thumb"><img
                                                                src="images/resource/testi-thumb-3.jpg"
                                                                title="Oitech" /></figure>
                                                        <h5 class="name">Jessica Brown</h5><span class="designation">Co
                                                            Founder</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide testimonial-block-four"
                                                data-swiper-slide-index="1">
                                                <div class="inner-box">
                                                    <div class="content-box"><span class="icon icon-quote"></span>
                                                        <div class="rating"><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                        <div class="text">Proin a lacus arcu. Nullam id dui eu orci
                                                            maximus.
                                                            Cras at auctor lectus, vel pretium tellus. Class aptent
                                                            sociosqu
                                                            ad litora torquent per conubia nostra.</div>
                                                    </div>
                                                    <div class="info-box">
                                                        <figure class="thumb"><img
                                                                src="images/resource/testi-thumb-3.jpg"
                                                                title="Oitech" /></figure>
                                                        <h5 class="name">Jessica Brown</h5><span class="designation">Co
                                                            Founder</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide testimonial-block-four"
                                                data-swiper-slide-index="2">
                                                <div class="inner-box">
                                                    <div class="content-box"><span class="icon icon-quote"></span>
                                                        <div class="rating"><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                        <div class="text">Proin a lacus arcu. Nullam id dui eu orci
                                                            maximus.
                                                            Cras at auctor lectus, vel pretium tellus. Class aptent
                                                            sociosqu
                                                            ad litora torquent per conubia nostra.</div>
                                                    </div>
                                                    <div class="info-box">
                                                        <figure class="thumb"><img
                                                                src="images/resource/testi-thumb-3.jpg"
                                                                title="Oitech" /></figure>
                                                        <h5 class="name">Jessica Brown</h5><span class="designation">Co
                                                            Founder</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide testimonial-block-four swiper-slide-duplicate"
                                                data-swiper-slide-index="0">
                                                <div class="inner-box">
                                                    <div class="content-box"><span class="icon icon-quote"></span>
                                                        <div class="rating"><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                                class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                        <div class="text">Proin a lacus arcu. Nullam id dui eu orci
                                                            maximus.
                                                            Cras at auctor lectus, vel pretium tellus. Class aptent
                                                            sociosqu
                                                            ad litora torquent per conubia nostra.</div>
                                                    </div>
                                                    <div class="info-box">
                                                        <figure class="thumb"><img
                                                                src="images/resource/testi-thumb-3.jpg"
                                                                title="Oitech" /></figure>
                                                        <h5 class="name">Jessica Brown</h5><span class="designation">Co
                                                            Founder</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="contact-section-four pt-0">
                    <div class="auto-container">
                        <div class="fact-counter">
                            <div class="row">
                                <div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                                    <div class="inner">
                                        <div class="count-box"><span>count</span></div>
                                        <h6 class="counter-title">Project completed</h6>
                                    </div>
                                </div>
                                <div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
                                    data-wow-delay="300ms">
                                    <div class="inner">
                                        <div class="count-box"><span>count</span></div>
                                        <h6 class="counter-title">IT specialists</h6>
                                    </div>
                                </div>
                                <div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
                                    data-wow-delay="600ms">
                                    <div class="inner">
                                        <div class="count-box"><span>count</span></div>
                                        <h6 class="counter-title">Satisfied clients</h6>
                                    </div>
                                </div>
                                <div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
                                    data-wow-delay="900ms">
                                    <div class="inner">
                                        <div class="count-box"><span>count</span></div>
                                        <h6 class="counter-title">Smart solutions</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="info-column col-lg-7 col-md-12 col-sm-12">
                                <div class="inner-column wow fadeInRight">
                                    <div class="title-box">
                                        <h3 class="title">Best IT Technology <br />Services you can Trust</h3>
                                    </div>
                                    <div class="our-values">
                                        <figure class="image"><img src="images/resource/our-value.jpg" title="Oitech" />
                                        </figure>
                                        <div class="content">
                                            <h5 class="title">Manage Tech Services</h5>
                                            <div class="text">Web designing in a powerful way of just not an only
                                                professions, however, in a passion for our Company. We have to a
                                                tendency to
                                                believe the idea that smart looking</div>
                                        </div>
                                    </div>
                                    <div class="info-box">
                                        <figure class="image"><img src="images/resource/our-value-2.jpg"
                                                title="Oitech" />
                                        </figure>
                                        <div class="counter-block-two">
                                            <div class="count-box"><span>count</span></div>
                                            <h6 class="counter-title">Clients worldwide took Professional IT services
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-column col-lg-5 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="contact-form-three wow fadeInLeft">
                                        <div class="title-box">
                                            <h3 class="title">Get a Free <br />Quote</h3>
                                            <div class="text">There are many variations of passages</div>
                                        </div>
                                        <form method="post" action="#" id="contact-form">
                                            <div class="form-group"><input type="text" name="full_name"
                                                    placeholder="Your Name" required="" /></div>
                                            <div class="form-group"><input type="email" name="Email"
                                                    placeholder="Email Address" required="" /></div>
                                            <div class="form-group"><input type="text" name="Phone"
                                                    placeholder="Phone Number" required="" /></div>
                                            <div class="form-group"><select class="custom-select">
                                                    <option value="Product Development">Product Development</option>
                                                    <option value="UI/UX Designing">UI/UX Designing</option>
                                                    <option value="Digital Marketing">Digital Marketing</option>
                                                </select></div>
                                            <div class="form-group"><button class="theme-btn btn-style-one"
                                                    type="submit" name="submit-form"><span class="btn-title">Send a
                                                        message</span></button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="news-section pt-0 pb-0">
                    <div class="auto-container">
                        <div class="sec-title text-center"><span class="sub-title">from the blog</span>
                            <h2>News &amp; Articles</h2>
                        </div>
                        <div class="row">
                            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="/news-details"><img
                                                    src="images/resource/news-1.jpg" title="Oitech" /></a></figure><span
                                            class="date"><b>28</b> OCT</span>
                                    </div>
                                    <div class="content-box">
                                        <ul class="post-info">
                                            <li><i class="fa fa-user"></i> by Admin</li>
                                            <li><i class="fa fa-tag"></i> Technology</li>
                                        </ul>
                                        <h4 class="title"><a href="/news-details">Professional technology information
                                                &amp;
                                                solutions are just like…</a></h4>
                                    </div>
                                    <div class="bottom-box"><a class="read-more" href="/news-details">Read More <i
                                                class="fa fa-long-arrow-alt-right"></i></a>
                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                    </div>
                                </div>
                            </div>
                            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="/news-details"><img
                                                    src="images/resource/news-2.jpg" title="Oitech" /></a></figure><span
                                            class="date"><b>28</b> OCT</span>
                                    </div>
                                    <div class="content-box">
                                        <ul class="post-info">
                                            <li><i class="fa fa-user"></i> by Admin</li>
                                            <li><i class="fa fa-tag"></i> Technology</li>
                                        </ul>
                                        <h4 class="title"><a href="/news-details">Professional technology information
                                                &amp;
                                                solutions are just like…</a></h4>
                                    </div>
                                    <div class="bottom-box"><a class="read-more" href="/news-details">Read More <i
                                                class="fa fa-long-arrow-alt-right"></i></a>
                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                    </div>
                                </div>
                            </div>
                            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="/news-details"><img
                                                    src="images/resource/news-3.jpg" title="Oitech" /></a></figure><span
                                            class="date"><b>28</b> OCT</span>
                                    </div>
                                    <div class="content-box">
                                        <ul class="post-info">
                                            <li><i class="fa fa-user"></i> by Admin</li>
                                            <li><i class="fa fa-tag"></i> Technology</li>
                                        </ul>
                                        <h4 class="title"><a href="/news-details">Professional technology information
                                                &amp;
                                                solutions are just like…</a></h4>
                                    </div>
                                    <div class="bottom-box"><a class="read-more" href="/news-details">Read More <i
                                                class="fa fa-long-arrow-alt-right"></i></a>
                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="clients-section undefined">
                    <div class="auto-container">
                        <div class="sponsors-outer">
                            <div class="clients-carousel">
                                <div class="swiper project-carousel">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-slide-index="0">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-slide-index="1">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-slide-index="2">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-slide-index="3">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-slide-index="4">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4">
                                            <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                        title="Oitech" /></a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <%- include('../layout/Footer.ejs') -%>