<%- include('../layout/Header.ejs') -%>
    <div id="">
        <%- include('../layout/Navbar.ejs') -%>
        <div class="page-wrapper" id="top">
            <section class="banner-section-two">
                <div class="banner-carousel">
                    <div class="swiper project-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1">
                                <div class="slide-item">
                                    <div class="bg-image" style="background-image:url(images/main-slider/3.jpg)"></div>
                                    <div class="auto-container">
                                        <div class="content-box"><span class="sub-title animate-2">Solutions for your
                                                businesses</span>
                                            <h1 class="title titlea titleb animate-3">Technology Solutaions for Future</h1>
                                            <div class="btn-box animate-4"><a class="theme-btn btn-style-one"
                                                    href="/about"><span class="btn-title">Discover more</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="0">
                                <div class="slide-item">
                                    <div class="bg-image" style="background-image:url(images/main-slider/3.jpg)"></div>
                                    <div class="auto-container">
                                        <div class="content-box"><span class="sub-title animate-2">Solutions for your
                                                businesses</span>
                                            <h1 class="title animate-3">Technology Solutaions for Future</h1>
                                            <div class="btn-box animate-4"><a class="theme-btn btn-style-one"
                                                    href="/about"><span class="btn-title">Discover more</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="1">
                                <div class="slide-item">
                                    <div class="bg-image" style="background-image:url(images/main-slider/3.jpg)"></div>
                                    <div class="auto-container">
                                        <div class="content-box"><span class="sub-title animate-2">Solutions for your
                                                businesses</span>
                                            <h1 class="title animate-3">Technology Solutaions for Future</h1>
                                            <div class="btn-box animate-4"><a class="theme-btn btn-style-one"
                                                    href="/about"><span class="btn-title">Discover more</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                <div class="slide-item">
                                    <div class="bg-image" style="background-image:url(images/main-slider/3.jpg)"></div>
                                    <div class="auto-container">
                                        <div class="content-box"><span class="sub-title animate-2">Solutions for your
                                                businesses</span>
                                            <h1 class="title animate-3">Technology Solutaions for Future</h1>
                                            <div class="btn-box animate-4"><a class="theme-btn btn-style-one"
                                                    href="/about"><span class="btn-title">Discover more</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="clients-section border-bottom">
                <div class="auto-container">
                    <div class="sponsors-outer">
                        <div class="clients-carousel">
                            <div class="swiper project-carousel">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="0">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="1">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="2">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="3">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="4">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="services-section-three">
                <div class="container-xl">
                    <div class="sec-title text-center"><span class="sub-title">Services we’re offering</span>
                        <h2>We Provide our Clients <br />Best IT Services</h2>
                    </div>
                    <div class="outer-box">
                        <div class="row justify-content-center">
                            <div class="service-block-three col-12 col-md-6  col-lg-2   fadeInUp">
                                <div class="inner-box "><i class="icon flaticon-business-002-graph"></i>
                                    <h6 class="title"><a class="text-" href="/service-details">Product <br />Development</a></h6>
                                    <div class="text">Providing the solutions for tech business</div>
                                </div>
                            </div>
                            <div class="service-block-three col-12 col-md-6 col-lg-2  wow fadeInUp" data-wow-delay="200ms">
                                <div class="inner-box "><i class="icon flaticon-business-010-startup"></i>
                                    <h6 class="title"><a href="/service-details">Digital <br />Marketing</a></h6>
                                    <div class="text">Providing the solutions for tech business</div>
                                </div>
                            </div>
                            <div class="service-block-three col-12 wow col-md-6 col-lg-2  fadeInUp" data-wow-delay="400ms">
                                <div class="inner-box "><i class="icon flaticon-business-030-settings"></i>
                                    <h6 class="title"><a href="/service-details">Security <br />System</a></h6>
                                    <div class="text">Providing the solutions for tech business</div>
                                </div>
                            </div>
                            <div class="service-block-three col-12 wow col-md-6 col-lg-2  fadeInUp" data-wow-delay="600ms">
                                <div class="inner-box "><i class="icon flaticon-business-045-stationery"></i>
                                    <h6 class="title"><a href="/service-details">UI/UX <br />Designing</a></h6>
                                    <div class="text">Providing the solutions for tech business</div>
                                </div>
                            </div>
                            <div class="service-block-three col-12 col-md-6 col-lg-2   fadeInUp" data-wow-delay="800ms">
                                <div class="inner-box"><i class="icon flaticon-business-054-graph"></i>
                                    <h6 class="title"><a href="/service-details">Data <br />Analysis</a></h6>
                                    <div class="text">Providing the solutions for tech business</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-section-five pt-0">
                <div class="auto-container">
                    <div class="row">
                        <div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInRight"
                            data-wow-delay="600ms">
                            <div class="inner-column">
                                <div class="sec-title"><span class="sub-title">About Our Company</span>
                                    <h2>Professional IT Experts for Tech Solutions</h2>
                                    <div class="text">Web designing in a powerful way of just not an only professions,
                                        however, in a passion for our Company. We have to a tendency to believe the idea
                                        that smart looking of any website is the first impression on visitors.</div>
                                </div>
                                <ul class="list-style-three">
                                    <li>The business applications</li>
                                    <li>The business applications</li>
                                    <li>Revolutionary catalysts chang</li>
                                    <li>Revolutionary catalysts chang</li>
                                    <li>Catalysts for chang seamlessly</li>
                                    <li>Catalysts for chang seamlessly</li>
                                </ul>
                                <div class="btn-box d-flex"><a class="theme-btn btn-style-one" href="/about"><span
                                            class="btn-title">Discover more</span></a>
                                    <div class="founder-info">
                                        <div class="thumb"><img src="images/resource/thumb-1.jpg" title="Oitech" />
                                        </div>
                                        <h5 class="name">Kevin Martin</h5><span class="designation">Co Founder</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <figure class="image-1 overlay-anim wow fadeInUp"><img src="images/resource/about-9.jpg"
                                        title="Oitech" /></figure>
                                <figure class="image-2 overlay-anim wow fadeInRight"><img
                                        src="images/resource/about-10.jpg" title="Oitech" /></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="project-section-three">
                <div class="auto-container">
                    <div class="sec-title light">
                        <div class="row align-items-center">
                            <div class="col-lg-7"><span class="sub-title">recently Completed work</span>
                                <h2>Improve &amp; Enhance the <br />Tech Projects</h2>
                            </div>
                            <div class="col-lg-5 text-end btn-box"><a class="theme-btn btn-style-two bg-light"
                                    href="/projects"><span class="btn-title text-black">View all work</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-outer">
                        <div class="swiper project-carousel-three">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide project-block-three swiper-slide-duplicate"
                                    data-swiper-slide-index="0">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-8.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block-three swiper-slide-duplicate"
                                    data-swiper-slide-index="1">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-9.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block-three swiper-slide-duplicate"
                                    data-swiper-slide-index="2">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-10.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block-three swiper-slide-duplicate"
                                    data-swiper-slide-index="3">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-11.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block-three" data-swiper-slide-index="0">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-8.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block-three" data-swiper-slide-index="1">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-9.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block-three" data-swiper-slide-index="2">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-10.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block-three" data-swiper-slide-index="3">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-11.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block-three swiper-slide-duplicate"
                                    data-swiper-slide-index="0">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-8.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block-three swiper-slide-duplicate"
                                    data-swiper-slide-index="1">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-9.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block-three swiper-slide-duplicate"
                                    data-swiper-slide-index="2">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-10.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block-three swiper-slide-duplicate"
                                    data-swiper-slide-index="3">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-8.jpg"><img
                                                        src="images/resource/project-11.jpg" title="Oitech" /></a>
                                            </figure>
                                            <div class="overlay-box"><a class="icon" href="/project-details"><i
                                                        class="fa fa-long-arrow-alt-right"></i></a>
                                                <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                                <span class="cat">DESIGN / IDEAS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="why-choose-us-two pt-0">
                <div class="auto-container">
                    <div class="row">
                        <div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 wow fadeInLeft"
                            data-wow-delay="600ms">
                            <div class="inner-column">
                                <div class="sec-title"><span class="sub-title">why choose our company</span>
                                    <h2>Why you Should Choose Our Services?</h2>
                                    <div class="text">There are many variations of passages of but the majority have in
                                        some form, by injected humou or words which don&#x27;t look even slightly
                                        believable of but the majority have suffered.</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="info-box"><i class="icon fa fa-check-circle"></i>
                                            <h6 class="title">Integer et massa sit</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="info-box"><i class="icon fa fa-check-circle"></i>
                                            <h6 class="title">Integer et massa sit</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="skills">
                                    <div class="skill-item">
                                        <div class="skill-header">
                                            <h6 class="skill-title">Technology</h6>
                                        </div>
                                        <div class="skill-bar">
                                            <div class="bar-inner">
                                                <div class="bar progress-line" data-width="77" style="width:77%">
                                                    <div class="skill-percentage">
                                                        <div class="count-box"><span class="count-text"
                                                                data-speed="3000" data-stop="77">77</span>%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skills">
                                    <div class="skill-item">
                                        <div class="skill-header">
                                            <h6 class="skill-title">Solutions</h6>
                                        </div>
                                        <div class="skill-bar">
                                            <div class="bar-inner">
                                                <div class="bar progress-line" data-width="95" style="width:95%">
                                                    <div class="skill-percentage">
                                                        <div class="count-box"><span class="count-text"
                                                                data-speed="3000" data-stop="95">95</span>%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
                            <div class="image-box wow fadeInRight">
                                <figure class="image overlay-anim"><img src="images/resource/why-us-3.jpg"
                                        title="Oitech" /><a class="play-btn lightbox-image"><i
                                            class="icon fa fa-play"></i></a></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="call-to-action alternate" style="background-image:url(images/background/1.jpg)">
                <div class="auto-container">
                    <div class="title-box">
                        <div class="icon bounce-y"><img src="images/resource/icon-logo.png" title="Oitech" /></div>
                        <h1 class="title">IT Solutions &amp; Services <br />at your Fingertips</h1><a
                            class="theme-btn btn-style-one" href="page-services"><span class="btn-title">Discover
                                more</span></a>
                    </div>
                </div>
            </section>
            <section class="testimonial-section-two">
                <div class="auto-container">
                    <div class="row">
                        <div class="title-column col-xl-3 col-lg-12">
                            <div class="sec-title"><span class="sub-title">Our feedbacks</span>
                                <h3>What They’re Talking About Company</h3>
                                <div class="text">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                                    solldin, lorem is simply free text quis bibendum.</div>
                            </div>
                        </div>
                        <div class="testimonial-column col-xl-9 col-lg-12">
                            <div class="inner-column">
                                <div class="swiper testimonial-carousel">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide testimonial-block-two swiper-slide-duplicate"
                                            data-swiper-slide-index="2">
                                            <div class="inner-box">
                                                <div class="content-box">
                                                    <div class="rating"><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                    <div class="text">Lorem ipsum is simply free text dolor not sit
                                                        amet, notted adipisicing elit sed do eiusmod incididunt labore
                                                        et dolore text.</div>
                                                </div>
                                                <div class="info-box">
                                                    <div class="thumb"><img src="images/resource/testi-thumb-4.jpg"
                                                            title="Oitech" /></div>
                                                    <h6 class="name">Sarah Albert</h6><span
                                                        class="designation">Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonial-block-two swiper-slide-duplicate"
                                            data-swiper-slide-index="3">
                                            <div class="inner-box">
                                                <div class="content-box">
                                                    <div class="rating"><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                    <div class="text">Lorem ipsum is simply free text dolor not sit
                                                        amet, notted adipisicing elit sed do eiusmod incididunt labore
                                                        et dolore text.</div>
                                                </div>
                                                <div class="info-box">
                                                    <div class="thumb"><img src="images/resource/testi-thumb-4.jpg"
                                                            title="Oitech" /></div>
                                                    <h6 class="name">Sarah Albert</h6><span
                                                        class="designation">Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonial-block-two swiper-slide-duplicate"
                                            data-swiper-slide-index="4">
                                            <div class="inner-box">
                                                <div class="content-box">
                                                    <div class="rating"><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                    <div class="text">Lorem ipsum is simply free text dolor not sit
                                                        amet, notted adipisicing elit sed do eiusmod incididunt labore
                                                        et dolore text.</div>
                                                </div>
                                                <div class="info-box">
                                                    <div class="thumb"><img src="images/resource/testi-thumb-4.jpg"
                                                            title="Oitech" /></div>
                                                    <h6 class="name">Sarah Albert</h6><span
                                                        class="designation">Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonial-block-two" data-swiper-slide-index="0">
                                            <div class="inner-box">
                                                <div class="content-box">
                                                    <div class="rating"><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                    <div class="text">Lorem ipsum is simply free text dolor not sit
                                                        amet, notted adipisicing elit sed do eiusmod incididunt labore
                                                        et dolore text.</div>
                                                </div>
                                                <div class="info-box">
                                                    <div class="thumb"><img src="images/resource/testi-thumb-4.jpg"
                                                            title="Oitech" /></div>
                                                    <h6 class="name">Sarah Albert</h6><span
                                                        class="designation">Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonial-block-two" data-swiper-slide-index="1">
                                            <div class="inner-box">
                                                <div class="content-box">
                                                    <div class="rating"><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                    <div class="text">Lorem ipsum is simply free text dolor not sit
                                                        amet, notted adipisicing elit sed do eiusmod incididunt labore
                                                        et dolore text.</div>
                                                </div>
                                                <div class="info-box">
                                                    <div class="thumb"><img src="images/resource/testi-thumb-4.jpg"
                                                            title="Oitech" /></div>
                                                    <h6 class="name">Sarah Albert</h6><span
                                                        class="designation">Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonial-block-two" data-swiper-slide-index="2">
                                            <div class="inner-box">
                                                <div class="content-box">
                                                    <div class="rating"><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                    <div class="text">Lorem ipsum is simply free text dolor not sit
                                                        amet, notted adipisicing elit sed do eiusmod incididunt labore
                                                        et dolore text.</div>
                                                </div>
                                                <div class="info-box">
                                                    <div class="thumb"><img src="images/resource/testi-thumb-4.jpg"
                                                            title="Oitech" /></div>
                                                    <h6 class="name">Sarah Albert</h6><span
                                                        class="designation">Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonial-block-two" data-swiper-slide-index="3">
                                            <div class="inner-box">
                                                <div class="content-box">
                                                    <div class="rating"><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                    <div class="text">Lorem ipsum is simply free text dolor not sit
                                                        amet, notted adipisicing elit sed do eiusmod incididunt labore
                                                        et dolore text.</div>
                                                </div>
                                                <div class="info-box">
                                                    <div class="thumb"><img src="images/resource/testi-thumb-4.jpg"
                                                            title="Oitech" /></div>
                                                    <h6 class="name">Sarah Albert</h6><span
                                                        class="designation">Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonial-block-two" data-swiper-slide-index="4">
                                            <div class="inner-box">
                                                <div class="content-box">
                                                    <div class="rating"><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                    <div class="text">Lorem ipsum is simply free text dolor not sit
                                                        amet, notted adipisicing elit sed do eiusmod incididunt labore
                                                        et dolore text.</div>
                                                </div>
                                                <div class="info-box">
                                                    <div class="thumb"><img src="images/resource/testi-thumb-4.jpg"
                                                            title="Oitech" /></div>
                                                    <h6 class="name">Sarah Albert</h6><span
                                                        class="designation">Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonial-block-two swiper-slide-duplicate"
                                            data-swiper-slide-index="0">
                                            <div class="inner-box">
                                                <div class="content-box">
                                                    <div class="rating"><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                    <div class="text">Lorem ipsum is simply free text dolor not sit
                                                        amet, notted adipisicing elit sed do eiusmod incididunt labore
                                                        et dolore text.</div>
                                                </div>
                                                <div class="info-box">
                                                    <div class="thumb"><img src="images/resource/testi-thumb-4.jpg"
                                                            title="Oitech" /></div>
                                                    <h6 class="name">Sarah Albert</h6><span
                                                        class="designation">Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonial-block-two swiper-slide-duplicate"
                                            data-swiper-slide-index="1">
                                            <div class="inner-box">
                                                <div class="content-box">
                                                    <div class="rating"><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                    <div class="text">Lorem ipsum is simply free text dolor not sit
                                                        amet, notted adipisicing elit sed do eiusmod incididunt labore
                                                        et dolore text.</div>
                                                </div>
                                                <div class="info-box">
                                                    <div class="thumb"><img src="images/resource/testi-thumb-4.jpg"
                                                            title="Oitech" /></div>
                                                    <h6 class="name">Sarah Albert</h6><span
                                                        class="designation">Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonial-block-two swiper-slide-duplicate"
                                            data-swiper-slide-index="2">
                                            <div class="inner-box">
                                                <div class="content-box">
                                                    <div class="rating"><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                            class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                    <div class="text">Lorem ipsum is simply free text dolor not sit
                                                        amet, notted adipisicing elit sed do eiusmod incididunt labore
                                                        et dolore text.</div>
                                                </div>
                                                <div class="info-box">
                                                    <div class="thumb"><img src="images/resource/testi-thumb-4.jpg"
                                                            title="Oitech" /></div>
                                                    <h6 class="name">Sarah Albert</h6><span
                                                        class="designation">Designer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact-section-two pull-up">
                <div class="auto-container">
                    <div class="row">
                        <div class="info-column col-xl-7 col-lg-6 col-md-12 col-sm-12 order-2">
                            <div class="inner-column wow fadeInRight">
                                <div class="sec-title">
                                    <div class="sub-title">Get to know</div>
                                    <h3>Keep your Vision to Our Projects</h3>
                                </div>
                                <figure class="image overlay-anim"><img src="images/resource/contact.jpg"
                                        title="Oitech" /></figure>
                                <div class="info-box"><span class="icon fa fa-check"></span>
                                    <h5 class="title">Cloud Based Services</h5>
                                    <div class="text">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                                        solldin, lorem is simply free</div>
                                </div>
                                <div class="info-box"><span class="icon fa fa-check"></span>
                                    <h5 class="title">End to End Solutions</h5>
                                    <div class="text">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                                        solldin, lorem is simply free</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-column col-xl-5 col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="contact-form light wow fadeInLeft">
                                    <div class="title-box"><span class="sub-title">Contact us</span>
                                        <h3>Write Email</h3>
                                    </div>
                                    <form method="post" action="#" id="contact-form">
                                        <div class="form-group"><input type="text" name="full_name"
                                                placeholder="Your Name" required="" /></div>
                                        <div class="form-group"><input type="text" name="Email"
                                                placeholder="Email Address" required="" /></div>
                                        <div class="form-group"><input type="text" name="Phone"
                                                placeholder="Phone Number" required="" /></div>
                                        <div class="form-group"><textarea name="message"
                                                placeholder="Write a Message"></textarea></div>
                                        <div class="form-group"><button class="theme-btn btn-style-one" type="submit"
                                                name="submit-form"><span class="btn-title">Send a m
                                                    essage</span></button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="features-section-four pull-down p-0">
                <div class="auto-container">
                    <div class="row g-0">
                        <div class="feature-block-four col-lg-6 col-md-12 col-sm-12 wow fadeInLeft">
                            <div class="inner-box">
                                <div class="content" style="background-image:url(images/resource/feature-bg-1.jpg)">
                                    <span class="icon flaticon-business-030-settings"></span>
                                    <h5 class="title">End to End Development</h5>
                                    <div class="text">There are many variations of available</div>
                                </div>
                            </div>
                        </div>
                        <div class="feature-block-four col-lg-6 col-md-12 col-sm-12 wow fadeInRight">
                            <div class="inner-box">
                                <div class="content" style="background-image:url(images/resource/feature-bg-2.jpg)">
                                    <span class="icon flaticon-business-035-helpline"></span>
                                    <h5 class="title">End to End Development</h5>
                                    <div class="text">There are many variations of available</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="news-section alternate">
                <div class="auto-container">
                    <div class="sec-title text-center"><span class="sub-title">from the blog</span>
                        <h2>News &amp; Articles</h2>
                    </div>
                    <div class="row">
                        <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/news-details"><img src="images/resource/news-1.jpg"
                                                title="Oitech" /></a></figure><span class="date"><b>28</b> OCT</span>
                                </div>
                                <div class="content-box">
                                    <ul class="post-info">
                                        <li><i class="fa fa-user"></i> by Admin</li>
                                        <li><i class="fa fa-tag"></i> Technology</li>
                                    </ul>
                                    <h4 class="title"><a href="/news-details">Professional technology information &amp;
                                            solutions are just like…</a></h4>
                                </div>
                                <div class="bottom-box"><a class="read-more" href="/news-details">Read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                    <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                </div>
                            </div>
                        </div>
                        <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/news-details"><img src="images/resource/news-2.jpg"
                                                title="Oitech" /></a></figure><span class="date"><b>28</b> OCT</span>
                                </div>
                                <div class="content-box">
                                    <ul class="post-info">
                                        <li><i class="fa fa-user"></i> by Admin</li>
                                        <li><i class="fa fa-tag"></i> Technology</li>
                                    </ul>
                                    <h4 class="title"><a href="/news-details">Professional technology information &amp;
                                            solutions are just like…</a></h4>
                                </div>
                                <div class="bottom-box"><a class="read-more" href="/news-details">Read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                    <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                </div>
                            </div>
                        </div>
                        <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/news-details"><img src="images/resource/news-3.jpg"
                                                title="Oitech" /></a></figure><span class="date"><b>28</b> OCT</span>
                                </div>
                                <div class="content-box">
                                    <ul class="post-info">
                                        <li><i class="fa fa-user"></i> by Admin</li>
                                        <li><i class="fa fa-tag"></i> Technology</li>
                                    </ul>
                                    <h4 class="title"><a href="/news-details">Professional technology information &amp;
                                            solutions are just like…</a></h4>
                                </div>
                                <div class="bottom-box"><a class="read-more" href="/news-details">Read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                    <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="locations-section-two pt-0">
                <div class="auto-container">
                    <div class="sec-title text-center"><span class="sub-title">Get an awesome service</span>
                        <h2>Our Customer Points <br />Worldwide</h2>
                    </div>
                    <div class="row">
                        <div class="location-block-two col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <h5 class="title">Newyork</h5>
                                <ul class="info-list">
                                    <li>66 Road Broklyn Street, New York</li>
                                    <li><a href="mailto:needhelp@company.com">needhelp@company.com</a></li>
                                    <li><a href="tel:+926668889999">+92 666 888 9999</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="location-block-two col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                            data-wow-delay="300ms">
                            <div class="inner-box">
                                <h5 class="title">Washington</h5>
                                <ul class="info-list">
                                    <li>66 Road Broklyn Street, New York</li>
                                    <li><a href="mailto:needhelp@company.com">needhelp@company.com</a></li>
                                    <li><a href="tel:+926668889999">+92 666 888 9999</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="location-block-two col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                            data-wow-delay="600ms">
                            <div class="inner-box">
                                <h5 class="title">Boston</h5>
                                <ul class="info-list">
                                    <li>66 Road Broklyn Street, New York</li>
                                    <li><a href="mailto:needhelp@company.com">needhelp@company.com</a></li>
                                    <li><a href="tel:+926668889999">+92 666 888 9999</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="location-block-two col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                            data-wow-delay="900ms">
                            <div class="inner-box">
                                <h5 class="title">Chicago</h5>
                                <ul class="info-list">
                                    <li>66 Road Broklyn Street, New York</li>
                                    <li><a href="mailto:needhelp@company.com">needhelp@company.com</a></li>
                                    <li><a href="tel:+926668889999">+92 666 888 9999</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="call-to-action-four" style="background-image:url(images/background/4.jpg)">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="title-box">
                            <div class="sub-title">We’re here to help to grow your business.</div>
                            <h3 class="title">Looking for the Best IT Business Solutions?</h3>
                        </div>
                        <div class="btn-box"><a class="theme-btn btn-style-two hvr-light" href="/about"><span
                                    class="btn-title">Discover more</span></a></div>
                    </div>
                </div>
            </section>
            
<%- include('../layout/Footer.ejs') -%>
