

<%- include('../layout/Header.ejs') -%>

    <div id="">
        <%- include('../layout/Navbar.ejs') -%>

        <div class="page-wrapper" id="top">
          
            <section class="banner-section-three">
                <div class="banner-carousel">
                    <div class="swiper project-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1">
                                <div class="slide-item">
                                    <div class="bg-image" style="background-image:url(images/main-slider/2.jpg)"></div>
                                    <div class="auto-container">
                                        <div class="content-box">
                                            <h1 class="title animate-1">Innovations</h1>
                                            <h2 class="sub-title animate-2">Technolgy Partners</h2>
                                            <div class="btn-box animate-3"><a class="theme-btn btn-style-one hvr-light"
                                                    href="/about"><span class="btn-title">Discover more</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="0">
                                <div class="slide-item">
                                    <div class="bg-image" style="background-image:url(images/main-slider/4.jpg)"></div>
                                    <div class="auto-container">
                                        <div class="content-box">
                                            <h1 class="title animate-1">Innovations</h1>
                                            <h2 class="sub-title animate-2">Technolgy Partners</h2>
                                            <div class="btn-box animate-3"><a class="theme-btn btn-style-one hvr-light"
                                                    href="/about"><span class="btn-title">Discover more</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="1">
                                <div class="slide-item">
                                    <div class="bg-image" style="background-image:url(images/main-slider/2.jpg)"></div>
                                    <div class="auto-container">
                                        <div class="content-box">
                                            <h1 class="title animate-1">Innovations</h1>
                                            <h2 class="sub-title animate-2">Technolgy Partners</h2>
                                            <div class="btn-box animate-3"><a class="theme-btn btn-style-one hvr-light"
                                                    href="/about"><span class="btn-title">Discover more</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                <div class="slide-item">
                                    <div class="bg-image" style="background-image:url(images/main-slider/4.jpg)"></div>
                                    <div class="auto-container">
                                        <div class="content-box">
                                            <h1 class="title animate-1">Innovations</h1>
                                            <h2 class="sub-title animate-2">Technolgy Partners</h2>
                                            <div class="btn-box animate-3"><a class="theme-btn btn-style-one hvr-light"
                                                    href="/about"><span class="btn-title">Discover more</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="call-to-action-two p-0">
                <div class="auto-container">
                    <div class="outer-box wow fadeIn">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/image-2.jpg" title="Oitech" /></figure>
                        </div>
                        <div class="content-box">
                            <div class="title-box">
                                <h3 class="title">We’re Ready <br />Develop Your Site!</h3>
                            </div>
                            <div class="btn-box"><a class="theme-btn btn-style-two hvr-light" href="/about"><span
                                        class="btn-title">More Services</span></a></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="services-section-four">
                <div class="auto-container">
                    <div class="sec-title text-center"><span class="sub-title">Services we’re offering</span>
                        <h2>We Provide our Clients <br />Best IT Services</h2>
                    </div>
                    <div class="row">
                        <div class="service-block-four col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box ">
                                <div class="icon-box"><i class="icon flaticon-business-002-graph"></i></div>
                                <h5 class="title"><a href="/service-details">Product <br />Development</a></h5>
                                <div class="text">Providing the solutions for tech business</div>
                            </div>
                        </div>
                        <div class="service-block-four col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                            <div class="inner-box ">
                                <div class="icon-box"><i class="icon flaticon-business-012-startup"></i></div>
                                <h5 class="title"><a href="/service-details">Digital <br />Marketing</a></h5>
                                <div class="text">Providing the solutions for tech business</div>
                            </div>
                        </div>
                        <div class="service-block-four col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                            <div class="inner-box ">
                                <div class="icon-box"><i class="icon flaticon-business-046-like"></i></div>
                                <h5 class="title"><a href="/service-details">Security <br />System</a></h5>
                                <div class="text">Providing the solutions for tech business</div>
                            </div>
                        </div>
                        <div class="service-block-four col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
                            data-wow-delay="1200ms">
                            <div class="inner-box ">
                                <div class="icon-box"><i class="icon flaticon-business-006-target"></i></div>
                                <h5 class="title"><a href="/service-details">UI/UX <br />Designing</a></h5>
                                <div class="text">Providing the solutions for tech business</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-section-six pt-0">
                <div class="auto-container">
                    <div class="row">
                        <div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInRight"
                            data-wow-delay="600ms">
                            <div class="inner-column">
                                <div class="sec-title"><span class="sub-title">About Our Company</span>
                                    <h2>Always Deliver More than you Expected</h2>
                                    <div class="text">Sed non odio non elit porttitor tincidunt. Donec fermentum, elit
                                        sit amet gravida molestie, orci dui eleifend sem, at blandit ipsum diam non
                                        purus. Duis dapibus nisi eget vehicula dignissim.</div>
                                </div>
                                <div class="content-box">
                                    <div class="about-block-four"><i class="icon flaticon-business-018-startup"></i>
                                        <h5 class="title">End to End Developement </h5>
                                        <div class="text">Sed non odio non elit porttitor tincidunt. Donec fermentum,
                                            elit sit amet</div>
                                    </div>
                                    <div class="about-block-four"><i class="icon flaticon-business-027-world"></i>
                                        <h5 class="title">Software IT Outsource</h5>
                                        <div class="text">Sed non odio non elit porttitor tincidunt. Donec fermentum,
                                            elit sit amet</div>
                                    </div>
                                    <ul class="list-style-three">
                                        <li>Sed non odio non elit porttitor tincidunt donec</li>
                                        <li>Sed non odio non elit porttitor tinc</li>
                                    </ul>
                                </div>
                                <div class="btm-box"><a class="theme-btn btn-style-one" href="/about"><span
                                            class="btn-title">Discover more</span></a></div>
                            </div>
                        </div>
                        <div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
                            <div class="inner-column wow fadeInLeft">
                                <div class="image-box">
                                    <figure class="image wow fadeIn"><img src="images/resource/men.png"
                                            title="Oitech" /></figure>
                                    <div class="completed-projects"><strong>870+</strong>
                                        <div class="text">PROJECT DONE</div>
                                    </div>
                                    <div class="experience bounce-y"><strong>25</strong>
                                        <div class="text">Years of <br />Experience</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="project-section pb-0 style-two text-white">
                <div class="auto-container">
                    <div class="sec-title">
                        <div class="row">
                            <div class="col-lg-7"><span class="sub-title">recently Completed work</span>
                                <h2 class="style-two text-white">Improve &amp; Enhance the <br />Tech Projects</h2>
                            </div>
                            <div class="col-lg-5">
                                <div class="text">There are many variations of passages of available but majority have
                                    suffered alteration in some form, by humou or randomised words which don&#x27;t look
                                    even slightly believable.</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-outer">
                        <div class="swiper project-carousel">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="0">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-1.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                            <span class="cat">DESIGN / IDEAS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="1">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-2.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Smart Visions</a></h4><span
                                                class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="2">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-3.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Platform Integration</a>
                                            </h4><span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="3">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-4.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Web Development</a></h4>
                                            <span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block" data-swiper-slide-index="0">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-1.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                            <span class="cat">DESIGN / IDEAS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block" data-swiper-slide-index="1">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-2.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Smart Visions</a></h4><span
                                                class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block" data-swiper-slide-index="2">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-3.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Platform Integration</a>
                                            </h4><span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block" data-swiper-slide-index="3">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-4.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Web Development</a></h4>
                                            <span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="0">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-1.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                            <span class="cat">DESIGN / IDEAS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="1">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-2.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Smart Visions</a></h4><span
                                                class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="2">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-3.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Platform Integration</a>
                                            </h4><span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="3">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-4.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Web Development</a></h4>
                                            <span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="work-section">
                <div class="auto-container">
                    <div class="sec-title text-center"><span class="sub-title">Tech Management</span>
                        <h2>The Best Source for <br /> IT Solutions</h2>
                    </div>
                    <div class="tabs-box work-tabs">
                        <ul class="tab-buttons clearfix">
                            <li class="tab-btn active-btn">Gaming</li>
                            <li class="tab-btn">Entertainment</li>
                            <li class="tab-btn">Tech Solution</li>
                        </ul>
                        <div class="tabs-content">
                            <div class="tab active-tab">
                                <div class="row">
                                    <div class="content-column col-xl-7 col-lg-6 col-md-12 order-2">
                                        <div class="inner-column">
                                            <h3>We Execute Our ideas From The Start to Finish 1</h3>
                                            <div class="text">Web designing in a powerful way of just not an only
                                                professions, however, in a passion for our Company.</div>
                                            <div class="content-box">
                                                <div class="about-block-two">
                                                    <h5 class="title"><i class="icon fa fa-angle-right"></i> Cloud Based
                                                        Services </h5>
                                                    <p class="text">Web designing in a powerful way of just</p>
                                                </div>
                                                <div class="about-block-two">
                                                    <h5 class="title"><i class="icon fa fa-angle-right"></i> End to End
                                                        Solutions </h5>
                                                    <p class="text">Web designing in a powerful way of just</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-column col-xl-5 col-lg-6 col-md-12">
                                        <figure class="image overlay-anim"><img src="images/resource/work-1.jpg"
                                                title="Oitech" /></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="tab">
                                <div class="row">
                                    <div class="content-column col-xl-7 col-lg-6 col-md-12 order-2">
                                        <div class="inner-column">
                                            <h3>We Execute Our ideas From The Start to Finish 2</h3>
                                            <div class="text">Web designing in a powerful way of just not an only
                                                professions, however, in a passion for our Company.</div>
                                            <div class="content-box">
                                                <div class="about-block-two">
                                                    <h5 class="title"><i class="icon fa fa-angle-right"></i> Cloud Based
                                                        Services </h5>
                                                    <p class="text">Web designing in a powerful way of just</p>
                                                </div>
                                                <div class="about-block-two">
                                                    <h5 class="title"><i class="icon fa fa-angle-right"></i> End to End
                                                        Solutions </h5>
                                                    <p class="text">Web designing in a powerful way of just</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-column col-xl-5 col-lg-6 col-md-12">
                                        <figure class="image overlay-anim"><img src="images/resource/work-1.jpg"
                                                title="Oitech" /></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="tab">
                                <div class="row">
                                    <div class="content-column col-xl-7 col-lg-6 col-md-12 order-2">
                                        <div class="inner-column">
                                            <h3>We Execute Our ideas From The Start to Finish 3</h3>
                                            <div class="text">Web designing in a powerful way of just not an only
                                                professions, however, in a passion for our Company.</div>
                                            <div class="content-box">
                                                <div class="about-block-two">
                                                    <h5 class="title"><i class="icon fa fa-angle-right"></i> Cloud Based
                                                        Services </h5>
                                                    <p class="text">Web designing in a powerful way of just</p>
                                                </div>
                                                <div class="about-block-two">
                                                    <h5 class="title"><i class="icon fa fa-angle-right"></i> End to End
                                                        Solutions </h5>
                                                    <p class="text">Web designing in a powerful way of just</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-column col-xl-5 col-lg-6 col-md-12">
                                        <figure class="image overlay-anim"><img src="images/resource/work-1.jpg"
                                                title="Oitech" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="testimonial-section-three">
                <div class="auto-container">
                    <div class="sec-title text-center"><span class="sub-title">Our feedbacks</span>
                        <h2>What They’re Talking<br /> About Company</h2>
                    </div>
                    <div class="swiper testimonial-carousel-three">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide testimonial-block-three swiper-slide-duplicate"
                                data-swiper-slide-index="0">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-7.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Mike Hardson</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-block-three swiper-slide-duplicate"
                                data-swiper-slide-index="1">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-8.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Jessica Brown</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-block-three" data-swiper-slide-index="0">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-7.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Mike Hardson</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-block-three" data-swiper-slide-index="1">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-8.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Jessica Brown</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-block-three swiper-slide-duplicate"
                                data-swiper-slide-index="0">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-7.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Mike Hardson</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-block-three swiper-slide-duplicate"
                                data-swiper-slide-index="1">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-8.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Jessica Brown</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="features-section-five">
                <div class="auto-container">
                    <div class="row">
                        <div class="feature-block-five col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box ">
                                <figure class="bg-image"><img src="images/resource/feature-bg-3.jpg" title="Oitech" />
                                </figure>
                                <h4 class="title"><a href="/about">Product <br />Designing</a></h4>
                                <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor.</div><span
                                    class="count">01</span>
                            </div>
                        </div>
                        <div class="feature-block-five col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                            <div class="inner-box ">
                                <figure class="bg-image"><img src="images/resource/feature-bg-4.jpg" title="Oitech" />
                                </figure>
                                <h4 class="title"><a href="/about">Custom <br />Solutions</a></h4>
                                <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor.</div><span
                                    class="count">02</span>
                            </div>
                        </div>
                        <div class="feature-block-five col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                            <div class="inner-box ">
                                <figure class="bg-image"><img src="images/resource/feature-bg-5.jpg" title="Oitech" />
                                </figure>
                                <h4 class="title"><a href="/about">Tech <br />Outsourc</a></h4>
                                <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor.</div><span
                                    class="count">03</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="why-choose-us-three pt-0">
                <div class="auto-container">
                    <div class="row">
                        <div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInLeft"
                            data-wow-delay="600ms">
                            <div class="inner-column">
                                <div class="sec-title"><span class="sub-title">Our Benefits</span>
                                    <h2>Why Choose Our IT Services?</h2>
                                    <div class="text">Choose our services to have custom software solutions for your
                                        business with the most reasonable price.</div>
                                </div>
                                <div class="info-box"><i class="icon flaticon-business-012-startup"></i>
                                    <h4 class="title">Get Your IT Technology Solutions <br />in Few Easy Clicks</h4>
                                </div>
                                <ul class="list-style-three">
                                    <li>The business applications</li>
                                    <li>The business applications</li>
                                    <li>Revolutionary catalysts chang</li>
                                    <li>Revolutionary catalysts chang</li>
                                    <li>Catalysts for chang seamlessly</li>
                                    <li>Catalysts for chang seamlessly</li>
                                </ul>
                            </div>
                        </div>
                        <div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
                            <div class="image-box wow fadeInRight">
                                <figure class="image overlay-anim"><img src="images/resource/why-us-4.jpg"
                                        title="Oitech" /></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="industries-section">
                <div class="auto-container">
                    <div class="row">
                        <div class="title-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="sec-title light"><span class="sub-title">Our industries</span>
                                    <h2>We’re Dedicated to Serve you All Time</h2>
                                    <div class="text">Web designing in a powerful way of just not an only professions,
                                        however, in a passion for our Company. We have to a tendency to believe the idea
                                        that smart looking of any website is the first impression on visitors.</div>
                                </div>
                            </div>
                        </div>
                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="image-box wow fadeIn">
                                <figure class="image"><img src="images/resource/industries.jpg" title="Oitech" />
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
                            <div class="inner-box "><i class="icon flaticon-business-011-dollar"></i>
                                <h6 class="title"><a href="/service-details">Banking</a></h6>
                            </div>
                        </div>
                        <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
                            data-wow-delay="200ms">
                            <div class="inner-box "><i class="icon flaticon-business-049-presentation"></i>
                                <h6 class="title"><a href="/service-details">Healthcare</a></h6>
                            </div>
                        </div>
                        <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
                            data-wow-delay="400ms">
                            <div class="inner-box "><i class="icon flaticon-business-061-meeting"></i>
                                <h6 class="title"><a href="/service-details">Education</a></h6>
                            </div>
                        </div>
                        <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
                            data-wow-delay="600ms">
                            <div class="inner-box "><i class="icon flaticon-business-030-settings"></i>
                                <h6 class="title"><a href="/service-details">Manufacturing</a></h6>
                            </div>
                        </div>
                        <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
                            data-wow-delay="800ms">
                            <div class="inner-box "><i class="icon flaticon-business-054-graph"></i>
                                <h6 class="title"><a href="/service-details">Capital Markets</a></h6>
                            </div>
                        </div>
                        <div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
                            data-wow-delay="1000ms">
                            <div class="inner-box "><i class="icon flaticon-business-020-hierarchy"></i>
                                <h6 class="title"><a href="/service-details">Networking</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="team-section-two">
                <div class="auto-container">
                    <div class="sec-title text-center"><span class="sub-title">Our team expert</span>
                        <h2>Meet Professionals</h2>
                    </div>
                    <div class="row">
                        <div class="team-block-two col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="info-box">
                                    <h5 class="name"><a href="/team-details">Adman Michel</a></h5><span
                                        class="designation">Web Developer</span><span
                                        class="share-icon fa fa-share-alt"></span>
                                    <div class="social-links"><a href="index.html#"><i class="fab fa-twitter"></i></a><a
                                            href="index.html#"><i class="fab fa-facebook-f"></i></a><a
                                            href="index.html#"><i class="fab fa-pinterest-p"></i></a><a
                                            href="index.html#"><i class="fab fa-instagram"></i></a></div>
                                </div>
                                <div class="image-box">
                                    <figure class="image"><a href="/team-details"><img
                                                src="images/resource/team-4.jpg" title="Oitech" /></a></figure>
                                </div>
                            </div>
                        </div>
                        <div class="team-block-two col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                            <div class="inner-box">
                                <div class="info-box">
                                    <h5 class="name"><a href="/team-details">Jessica Brown</a></h5><span
                                        class="designation">Web Developer</span><span
                                        class="share-icon fa fa-share-alt"></span>
                                    <div class="social-links"><a href="index.html#"><i class="fab fa-twitter"></i></a><a
                                            href="index.html#"><i class="fab fa-facebook-f"></i></a><a
                                            href="index.html#"><i class="fab fa-pinterest-p"></i></a><a
                                            href="index.html#"><i class="fab fa-instagram"></i></a></div>
                                </div>
                                <div class="image-box">
                                    <figure class="image"><a href="/team-details"><img
                                                src="images/resource/team-5.jpg" title="Oitech" /></a></figure>
                                </div>
                            </div>
                        </div>
                        <div class="team-block-two col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                            <div class="inner-box">
                                <div class="info-box">
                                    <h5 class="name"><a href="/team-details">Richerd William</a></h5><span
                                        class="designation">Web Developer</span><span
                                        class="share-icon fa fa-share-alt"></span>
                                    <div class="social-links"><a href="index.html#"><i class="fab fa-twitter"></i></a><a
                                            href="index.html#"><i class="fab fa-facebook-f"></i></a><a
                                            href="index.html#"><i class="fab fa-pinterest-p"></i></a><a
                                            href="index.html#"><i class="fab fa-instagram"></i></a></div>
                                </div>
                                <div class="image-box">
                                    <figure class="image"><a href="/team-details"><img
                                                src="images/resource/team-6.jpg" title="Oitech" /></a></figure>
                                </div>
                            </div>
                        </div>
                        <div class="team-block-two col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                            <div class="inner-box">
                                <div class="info-box">
                                    <h5 class="name"><a href="/team-details">Sara Albert</a></h5><span
                                        class="designation">Web Developer</span><span
                                        class="share-icon fa fa-share-alt"></span>
                                    <div class="social-links"><a href="index.html#"><i class="fab fa-twitter"></i></a><a
                                            href="index.html#"><i class="fab fa-facebook-f"></i></a><a
                                            href="index.html#"><i class="fab fa-pinterest-p"></i></a><a
                                            href="index.html#"><i class="fab fa-instagram"></i></a></div>
                                </div>
                                <div class="image-box">
                                    <figure class="image"><a href="/team-details"><img
                                                src="images/resource/team-7.jpg" title="Oitech" /></a></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="clients-section alternate">
                <div class="auto-container">
                    <div class="sponsors-outer">
                        <div class="clients-carousel">
                            <div class="swiper project-carousel">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="0">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="1">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="2">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="3">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="4">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4">
                                        <div class="slide-item"> <a href="#"><img src="images/resource/client.png"
                                                    title="Oitech" /></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="news-section-two">
                <div class="auto-container">
                    <div class="row">
                        <div class="title-column col-xl-4 col-lg-4 col-md-12">
                            <div class="inner-column">
                                <div class="sec-title"><span class="sub-title">from the blog</span>
                                    <h2>Our L atest News &amp; Articles from the Blog</h2>
                                    <div class="text">There are many variations of passages of ipsum available, but the
                                        majority have suffered alteration in form.</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-column col-xl-8 col-lg-8 col-md-12">
                            <div class="carousel-outer">
                                <div class="swiper news-carousel">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                            <div class="news-block">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><a href="//404"><img
                                                                    src="images/resource/news-1.jpg"
                                                                    title="Oitech" /></a></figure><span
                                                            class="date"><b>28</b> OCT</span>
                                                    </div>
                                                    <div class="content-box">
                                                        <ul class="post-info">
                                                            <li><i class="fa fa-user"></i> by Admin</li>
                                                            <li><i class="fa fa-tag"></i> Technology</li>
                                                        </ul>
                                                        <h4 class="title"><a href="//news-details">Professional technology
                                                                information &amp; solutions are just like…</a></h4>
                                                    </div>
                                                    <div class="bottom-box"><a href="//404" class="read-more">Read More <i
                                                                class="fa fa-long-arrow-alt-right"></i></a>
                                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1">
                                            <div class="news-block">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><a href="//404"><img
                                                                    src="images/resource/news-2.jpg"
                                                                    title="Oitech" /></a></figure><span
                                                            class="date"><b>28</b> OCT</span>
                                                    </div>
                                                    <div class="content-box">
                                                        <ul class="post-info">
                                                            <li><i class="fa fa-user"></i> by Admin</li>
                                                            <li><i class="fa fa-tag"></i> Technology</li>
                                                        </ul>
                                                        <h4 class="title"><a href="/news-details">Professional technology
                                                                information &amp; solutions are just like…</a></h4>
                                                    </div>
                                                    <div class="bottom-box"><a href="/404" class="read-more">Read More <i
                                                                class="fa fa-long-arrow-alt-right"></i></a>
                                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2">
                                            <div class="news-block">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><a href="/404"><img
                                                                    src="images/resource/news-3.jpg"
                                                                    title="Oitech" /></a></figure><span
                                                            class="date"><b>28</b> OCT</span>
                                                    </div>
                                                    <div class="content-box">
                                                        <ul class="post-info">
                                                            <li><i class="fa fa-user"></i> by Admin</li>
                                                            <li><i class="fa fa-tag"></i> Technology</li>
                                                        </ul>
                                                        <h4 class="title"><a href="/news-details">Professional technology
                                                                information &amp; solutions are just like…</a></h4>
                                                    </div>
                                                    <div class="bottom-box"><a href="/404" class="read-more">Read More <i
                                                                class="fa fa-long-arrow-alt-right"></i></a>
                                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-slide-index="0">
                                            <div class="news-block">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><a href="/404"><img
                                                                    src="images/resource/news-1.jpg"
                                                                    title="Oitech" /></a></figure><span
                                                            class="date"><b>28</b> OCT</span>
                                                    </div>
                                                    <div class="content-box">
                                                        <ul class="post-info">
                                                            <li><i class="fa fa-user"></i> by Admin</li>
                                                            <li><i class="fa fa-tag"></i> Technology</li>
                                                        </ul>
                                                        <h4 class="title"><a href="/news-details">Professional technology
                                                                information &amp; solutions are just like…</a></h4>
                                                    </div>
                                                    <div class="bottom-box"><a href="/404" class="read-more">Read More <i
                                                                class="fa fa-long-arrow-alt-right"></i></a>
                                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-slide-index="1">
                                            <div class="news-block">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><a href="/404"><img
                                                                    src="images/resource/news-2.jpg"
                                                                    title="Oitech" /></a></figure><span
                                                            class="date"><b>28</b> OCT</span>
                                                    </div>
                                                    <div class="content-box">
                                                        <ul class="post-info">
                                                            <li><i class="fa fa-user"></i> by Admin</li>
                                                            <li><i class="fa fa-tag"></i> Technology</li>
                                                        </ul>
                                                        <h4 class="title"><a href="/news-details">Professional technology
                                                                information &amp; solutions are just like…</a></h4>
                                                    </div>
                                                    <div class="bottom-box"><a href="/404" class="read-more">Read More <i
                                                                class="fa fa-long-arrow-alt-right"></i></a>
                                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-swiper-slide-index="2">
                                            <div class="news-block">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><a href="/404"><img
                                                                    src="images/resource/news-3.jpg"
                                                                    title="Oitech" /></a></figure><span
                                                            class="date"><b>28</b> OCT</span>
                                                    </div>
                                                    <div class="content-box">
                                                        <ul class="post-info">
                                                            <li><i class="fa fa-user"></i> by Admin</li>
                                                            <li><i class="fa fa-tag"></i> Technology</li>
                                                        </ul>
                                                        <h4 class="title"><a href="/news-details">Professional technology
                                                                information &amp; solutions are just like…</a></h4>
                                                    </div>
                                                    <div class="bottom-box"><a href="/404" class="read-more">Read More <i
                                                                class="fa fa-long-arrow-alt-right"></i></a>
                                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                            <div class="news-block">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><a href="/404"><img
                                                                    src="images/resource/news-1.jpg"
                                                                    title="Oitech" /></a></figure><span
                                                            class="date"><b>28</b> OCT</span>
                                                    </div>
                                                    <div class="content-box">
                                                        <ul class="post-info">
                                                            <li><i class="fa fa-user"></i> by Admin</li>
                                                            <li><i class="fa fa-tag"></i> Technology</li>
                                                        </ul>
                                                        <h4 class="title"><a href="/news-details">Professional technology
                                                                information &amp; solutions are just like…</a></h4>
                                                    </div>
                                                    <div class="bottom-box"><a href="/404" class="read-more">Read More <i
                                                                class="fa fa-long-arrow-alt-right"></i></a>
                                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1">
                                            <div class="news-block">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><a href="/404"><img
                                                                    src="images/resource/news-2.jpg"
                                                                    title="Oitech" /></a></figure><span
                                                            class="date"><b>28</b> OCT</span>
                                                    </div>
                                                    <div class="content-box">
                                                        <ul class="post-info">
                                                            <li><i class="fa fa-user"></i> by Admin</li>
                                                            <li><i class="fa fa-tag"></i> Technology</li>
                                                        </ul>
                                                        <h4 class="title"><a href="/news-details">Professional technology
                                                                information &amp; solutions are just like…</a></h4>
                                                    </div>
                                                    <div class="bottom-box"><a href="/404" class="read-more">Read More <i
                                                                class="fa fa-long-arrow-alt-right"></i></a>
                                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2">
                                            <div class="news-block">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><a href="/404"><img
                                                                    src="images/resource/news-3.jpg"
                                                                    title="Oitech" /></a></figure><span
                                                            class="date"><b>28</b> OCT</span>
                                                    </div>
                                                    <div class="content-box">
                                                        <ul class="post-info">
                                                            <li><i class="fa fa-user"></i> by Admin</li>
                                                            <li><i class="fa fa-tag"></i> Technology</li>
                                                        </ul>
                                                        <h4 class="title"><a href="/news-details">Professional technology
                                                                information &amp; solutions are just like…</a></h4>
                                                    </div>
                                                    <div class="bottom-box"><a href="/404" class="read-more">Read More <i
                                                                class="fa fa-long-arrow-alt-right"></i></a>
                                                        <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact-section-three pull-up">
                <div class="auto-container">
                    <div class="row">
                        <div class="info-column col-lg-6 col-md-12 col-sm-12 order-2">
                            <div class="inner-column wow fadeInRight">
                                <div class="sec-title light">
                                    <div class="sub-title">Get in Touch</div>
                                    <h2>Get a free quote today</h2>
                                    <div class="text">Web designing in a powerful way of just not an only professions,
                                        however, in a passion for our company</div>
                                </div>
                                <div class="contact-info-box-two"><span class="icon fa fa-map-marker-alt"></span>
                                    <h6 class="title">Visit Us</h6>
                                    <div class="text">66 Road Broklyn Street, 600 New York, USA</div>
                                </div>
                                <div class="contact-info-box-two"><span class="icon fa fa-envelope"></span>
                                    <h6 class="title">Email address</h6>
                                    <div class="text"><a href="mailto:needhelp@company.com">needhelp@company.com</a>
                                    </div>
                                </div>
                                <div class="contact-info-box-two"><span class="icon fa fa-phone"></span>
                                    <h6 class="title">Call now</h6>
                                    <div class="text"><a href="tel:+999000111222">+999 000 111 222</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="contact-form-two style-two wow fadeInLeft">
                                    <form method="post" action="#" id="contact-form">
                                        <div class="row">
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12"><input type="text"
                                                    name="full_name" placeholder="Your Name" required="" /></div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12"><input type="email"
                                                    name="Email" placeholder="Email Address" required="" /></div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12"><input type="text"
                                                    name="Phone" placeholder="Phone Number" required="" /></div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12"><input type="text"
                                                    name="subject" placeholder="Subject" required="" /></div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12"><textarea
                                                    name="message" placeholder="Write Message"></textarea></div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12"><button
                                                    class="theme-btn btn-style-one hvr-light" type="submit"
                                                    name="submit-form"><span class="btn-title">Send a
                                                        message</span></button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="call-to-action-five">
                <div class="row g-0">
                    <div class="column col-lg-6 col-md-12 col-sm-12">
                        <div class="title-box">
                            <h2 class="title"><a href="page-projects">Improve &amp; Enhance the <br />Tech Projects</a>
                            </h2>
                        </div>
                    </div>
                    <div class="column col-lg-6 col-md-12 col-sm-12">
                        <div class="title-box style-two">
                            <h2 class="title"><a href="page-services">The Best Source for <br />IT Solutions</a></h2>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('../layout/Footer.ejs') -%>
