

<%- include('../layout/Header.ejs') -%>

    <div id="">
        <%- include('../layout/Navbar.ejs') -%>

        <div class="page-wrapper" id="top">
          
            <section class="page-title" style="background-image:url(images/resource/service-details.jpg)">
                <div class="auto-container">
                    <div class="title-outer">
                        <h1 class="title">News Grid</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index.html">Pages</a></li>
                            <li>News Grid</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="news-section undefined">
                <div class="auto-container">
                    <div class="row">
                        <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/news-details"><img src="images/resource/news-1.jpg"
                                                title="Oitech" /></a></figure><span class="date"><b>28</b> OCT</span>
                                </div>
                                <div class="content-box">
                                    <ul class="post-info">
                                        <li><i class="fa fa-user"></i> by Admin</li>
                                        <li><i class="fa fa-tag"></i> Technology</li>
                                    </ul>
                                    <h4 class="title"><a href="/news-details">Professional technology information &amp;
                                            solutions are just like…</a></h4>
                                </div>
                                <div class="bottom-box"><a class="read-more" href="/news-details">Read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                    <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                </div>
                            </div>
                        </div>
                        <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/news-details"><img src="images/resource/news-2.jpg"
                                                title="Oitech" /></a></figure><span class="date"><b>28</b> OCT</span>
                                </div>
                                <div class="content-box">
                                    <ul class="post-info">
                                        <li><i class="fa fa-user"></i> by Admin</li>
                                        <li><i class="fa fa-tag"></i> Technology</li>
                                    </ul>
                                    <h4 class="title"><a href="/news-details">Professional technology information &amp;
                                            solutions are just like…</a></h4>
                                </div>
                                <div class="bottom-box"><a class="read-more" href="/news-details">Read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                    <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                </div>
                            </div>
                        </div>
                        <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/news-details"><img src="images/resource/news-3.jpg"
                                                title="Oitech" /></a></figure><span class="date"><b>28</b> OCT</span>
                                </div>
                                <div class="content-box">
                                    <ul class="post-info">
                                        <li><i class="fa fa-user"></i> by Admin</li>
                                        <li><i class="fa fa-tag"></i> Technology</li>
                                    </ul>
                                    <h4 class="title"><a href="/news-details">Professional technology information &amp;
                                            solutions are just like…</a></h4>
                                </div>
                                <div class="bottom-box"><a class="read-more" href="/news-details">Read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                    <div class="comments"><i class="fa fa-comments"></i> 02</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('../layout/Footer.ejs') -%>
