<%- include('../layout/Header.ejs') -%>

    <div id="">
        <%- include('../layout/Navbar.ejs') -%>

        <div class="page-wrapper" id="top">
          
            <section class="page-title" style="background-image:url(images/resource/service-details.jpg)">
                <div class="auto-container">
                    <div class="title-outer">
                        <h1 class="title">Pricing</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index.html">Pages</a></li>
                            <li>Pricing</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="pricing-section">
                <div class="auto-container">
                    <div class="row">
                        <div class="pricing-column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <div class="pricing-block">
                                <div class="inner-box">
                                    <figure class="image"><img src="images/resource/pricing-1.png" title="Oitech" />
                                    </figure>
                                    <div class="price-box">
                                        <h4 class="price"><sup>$</sup>49</h4><span class="validaty">/ Monthly</span>
                                    </div>
                                    <h4 class="title">Basic Plan</h4>
                                    <ul class="features">
                                        <li>24/7 system monitoring</li>
                                        <li>Security management</li>
                                        <li>Patch management</li>
                                        <li>Remote support</li>
                                    </ul>
                                    <div class="btn-box"><a class="theme-btn btn-style-one hvr-light"
                                            href="/pricing"><span class="btn-title">Choose plan</span></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <div class="pricing-block">
                                <div class="inner-box">
                                    <figure class="image"><img src="images/resource/pricing-2.png" title="Oitech" />
                                    </figure>
                                    <div class="price-box">
                                        <h4 class="price"><sup>$</sup>69</h4><span class="validaty">/ Monthly</span>
                                    </div>
                                    <h4 class="title">Pro Plan</h4>
                                    <ul class="features">
                                        <li>24/7 system monitoring</li>
                                        <li>Security management</li>
                                        <li>Patch management</li>
                                        <li>Remote support</li>
                                    </ul>
                                    <div class="btn-box"><a class="theme-btn btn-style-three" href="/pricing"><span
                                                class="btn-title">Choose plan</span></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <div class="pricing-block">
                                <div class="inner-box">
                                    <figure class="image"><img src="images/resource/pricing-1.png" title="Oitech" />
                                    </figure>
                                    <div class="price-box">
                                        <h4 class="price"><sup>$</sup>49</h4><span class="validaty">/ Monthly</span>
                                    </div>
                                    <h4 class="title">Basic Plan</h4>
                                    <ul class="features">
                                        <li>24/7 system monitoring</li>
                                        <li>Security management</li>
                                        <li>Patch management</li>
                                        <li>Remote support</li>
                                    </ul>
                                    <div class="btn-box"><a class="theme-btn btn-style-one hvr-light"
                                            href="/pricing"><span class="btn-title">Choose plan</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('../layout/Footer.ejs') -%>
