<%- include('../layout/Header.ejs') -%>

    <div id="">
        <%- include('../layout/Navbar.ejs') -%>

        <div class="page-wrapper" id="top">
          
            <section class="page-title" style="background-image:url(images/resource/service-details.jpg)">
                <div class="auto-container">
                    <div class="title-outer">
                        <h1 class="title">Project Details</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index.html">Pages</a></li>
                            <li>Project Details</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="project-details">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="project-details__top">
                                <div class="project-details__img"> <img src="images/resource/project-details.jpg"
                                        title="Oitech" /> </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-details__content">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8">
                                <div class="project-details__content-left">
                                    <h3 class="">Here to Know About This Project</h3>
                                    <p class="">There are many variations of passages of psum available, but the
                                        majority have suffered alteration in some form, by injected humour, or
                                        randomised words which don&#x27;t look even slightly believable. If you are
                                        going to use a passage of Lorem Ipsum, you need to be sure there isn&#x27;t
                                        anything embarrassing hidden in the middle of text. Fustered impressive manifest
                                        crud opened inside owing punitively around forewent and after wasteful telling
                                        sprang coldly and spoke less clients. Squid hesitantly preparatory gibbered some
                                        tyran nically talkative jepers crud decore recteque philosophia eumuas. </p>
                                    <p class="mb-5">Beyond more stoic this along goodness hey this this wow manatee
                                        mongoose one as since a far flustered impressive manifest far crud opened inside
                                        owing punitively around forewent and after wasteful telling sprang coldly and
                                        spoke less clients. Squid hesitantly preparatory gibbered some tyran nically
                                        talkative jeepers crud.</p>
                                    <h3 class="">Project Challenges</h3>
                                    <p class="mb-5">Eque porro est qui dolorem ipsum quia quaed inventore veritatis et
                                        quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim
                                        var sed efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply
                                        dummy text of the printing and typesetting.</p>
                                    <h3 class="">End to End Developement</h3>
                                    <p class="">When an unknown printer took a galley of type and scrambled it to make a
                                        type specimen book. It has survived not only five centuries, but also the leap
                                        into electronic typesetting, remaining essentially unchanged. It was popularised
                                        in the 1960s with the release of Letraset sheets containing. Neque porro est qui
                                        dolorem ipsumo.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div class="project-details__content-right">
                                    <div class="project-details__details-box">
                                        <div class="project-details__bg-shape"> </div>
                                        <ul class="list-unstyled project-details__details-list">
                                            <li>
                                                <p class="project-details__client">Date</p>
                                                <h4 class="project-details__name">22 April, 2022</h4>
                                            </li>
                                            <li>
                                                <p class="project-details__client">Client</p>
                                                <h4 class="project-details__name">Kodesolution Ltd</h4>
                                            </li>
                                            <li>
                                                <p class="project-details__client">Website</p>
                                                <h4 class="project-details__name">www.domain.com</h4>
                                            </li>
                                            <li>
                                                <p class="project-details__client">Location</p>
                                                <h4 class="project-details__name">New York, USA</h4>
                                            </li>
                                            <li>
                                                <p class="project-details__client">Value</p>
                                                <h4 class="project-details__name">$11,367</h4>
                                            </li>
                                            <li>
                                                <div class="project-details__social"> <a href="/project-details"><i
                                                            class="fab fa-twitter"></i></a> <a
                                                        href="/project-details"><i class="fab fa-facebook"></i></a>
                                                    <a href="/project-details"><i
                                                            class="fab fa-pinterest-p"></i></a> <a
                                                        href="/project-details"><i
                                                            class="fab fa-instagram"></i></a> </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="project-details__pagination-box">
                                <ul class="project-details__pagination list-unstyled clearfix">
                                    <li class="next">
                                        <div class="icon"> <a aria-label="Previous" href="/project-details"><i
                                                    class="lnr lnr-icon-arrow-left"></i></a> </div>
                                        <div class="content">Previous</div>
                                    </li>
                                    <li class="count"><a href="/project-details"></a></li>
                                    <li class="count"><a href="/project-details"></a></li>
                                    <li class="count"><a href="/project-details"></a></li>
                                    <li class="count"><a href="/project-details"></a></li>
                                    <li class="previous">
                                        <div class="content">Next</div>
                                        <div class="icon"> <a aria-label="Previous" href="/project-details"><i
                                                    class="lnr lnr-icon-arrow-right"></i></a> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('../layout/Footer.ejs') -%>
