<%- include('../layout/Header.ejs') -%>

    <div id="">
        <%- include('../layout/Navbar.ejs') -%>

        <div class="page-wrapper" id="top">
         
            <section class="page-title" style="background-image:url(images/resource/service-details.jpg)">
                <div class="auto-container">
                    <div class="title-outer">
                        <h1 class="title">Projects Grid</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index.html">Pages</a></li>
                            <li>Projects Grid</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="project-section undefined">
                <div class="auto-container">
                    <div class="carousel-outer">
                        <div class="swiper project-carousel">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="0">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-1.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                            <span class="cat">DESIGN / IDEAS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="1">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-2.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Smart Visions</a></h4><span
                                                class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="2">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-3.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Platform Integration</a>
                                            </h4><span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="3">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-4.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Web Development</a></h4>
                                            <span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block" data-swiper-slide-index="0">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-1.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                            <span class="cat">DESIGN / IDEAS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block" data-swiper-slide-index="1">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-2.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Smart Visions</a></h4><span
                                                class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block" data-swiper-slide-index="2">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-3.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Platform Integration</a>
                                            </h4><span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block" data-swiper-slide-index="3">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-4.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Web Development</a></h4>
                                            <span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="0">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-1.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Tech Solutions</a></h4>
                                            <span class="cat">DESIGN / IDEAS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="1">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-2.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Smart Visions</a></h4><span
                                                class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="2">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-3.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Platform Integration</a>
                                            </h4><span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide project-block swiper-slide-duplicate"
                                    data-swiper-slide-index="3">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><a class="lightbox-image"
                                                    href="images/resource/project-1.jpg"><img
                                                        src="images/resource/project-4.jpg" title="Oitech" /></a>
                                            </figure><a class="icon" href="/project-details"><i
                                                    class="fa fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="content-box">
                                            <h4 class="title"><a href="/project-details">Web Development</a></h4>
                                            <span class="cat">Design</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<%- include('../layout/Footer.ejs') -%>
