<%- include('../layout/Header.ejs') -%>

    <div id="">
        <%- include('../layout/Navbar.ejs') -%>

        <div class="page-wrapper" id="top">
        
            <section class="page-title" style="background-image:url(images/resource/service-details.jpg)">
                <div class="auto-container">
                    <div class="title-outer">
                        <h1 class="title">Service Grid</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index.html">Pages</a></li>
                            <li>Service Grid</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="services-section">
                <div class="auto-container">
                    <div class="row">
                        <div class="service-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/service-details"><img
                                                src="images/resource/service-1.jpg" title="Oitech" /></a></figure>
                                    <div class="icon-box"><i class="icon flaticon-business-010-startup"></i></div>
                                </div>
                                <div class="content-box">
                                    <h5 class="title"><a href="/service-details">Product Development</a></h5>
                                    <div class="text">We’ve designed a culture that allows our stewards to assimilate
                                    </div><a class="read-more" href="/service-details">read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/service-details"><img
                                                src="images/resource/service-2.jpg" title="Oitech" /></a></figure>
                                    <div class="icon-box"><i class="icon flaticon-business-002-graph"></i></div>
                                </div>
                                <div class="content-box">
                                    <h5 class="title"><a href="/service-details">UI/UX Designing</a></h5>
                                    <div class="text">We’ve designed a culture that allows our stewards to assimilate
                                    </div><a class="read-more" href="/service-details">read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/service-details"><img
                                                src="images/resource/service-3.jpg" title="Oitech" /></a></figure>
                                    <div class="icon-box"><i class="icon flaticon-business-048-coin"></i></div>
                                </div>
                                <div class="content-box">
                                    <h5 class="title"><a href="/service-details">Digital Marketing</a></h5>
                                    <div class="text">We’ve designed a culture that allows our stewards to assimilate
                                    </div><a class="read-more" href="/service-details">read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/service-details"><img
                                                src="images/resource/service-2.jpg" title="Oitech" /></a></figure>
                                    <div class="icon-box"><i class="icon flaticon-business-010-startup"></i></div>
                                </div>
                                <div class="content-box">
                                    <h5 class="title"><a href="/service-details">Data Analysis</a></h5>
                                    <div class="text">We’ve designed a culture that allows our stewards to assimilate
                                    </div><a class="read-more" href="/service-details">read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/service-details"><img
                                                src="images/resource/service-3.jpg" title="Oitech" /></a></figure>
                                    <div class="icon-box"><i class="icon flaticon-business-048-coin"></i></div>
                                </div>
                                <div class="content-box">
                                    <h5 class="title"><a href="/service-details">Digital Marketing</a></h5>
                                    <div class="text">We’ve designed a culture that allows our stewards to assimilate
                                    </div><a class="read-more" href="/service-details">read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/service-details"><img
                                                src="images/resource/service-1.jpg" title="Oitech" /></a></figure>
                                    <div class="icon-box"><i class="icon flaticon-business-002-graph"></i></div>
                                </div>
                                <div class="content-box">
                                    <h5 class="title"><a href="/service-details">UI/UX Designing</a></h5>
                                    <div class="text">We’ve designed a culture that allows our stewards to assimilate
                                    </div><a class="read-more" href="/service-details">read More <i
                                            class="fa fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('../layout/Footer.ejs') -%>
