<%- include('../layout/Header.ejs') -%>

    <div id="">
        <%- include('../layout/Navbar.ejs') -%>

        <div class="page-wrapper" id="top">
            
            <section class="page-title" style="background-image:url(images/resource/service-details.jpg)">
                <div class="auto-container">
                    <div class="title-outer">
                        <h1 class="title">Team Grid</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index.html">Pages</a></li>
                            <li>Team Grid</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="team-section">
                <div class="anim-icons"><span class="icon icon-lines bounce-x"></span><span
                        class="icon icon-dots bounce-y"></span></div>
                <div class="auto-container">
                    <div class="row">
                        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/team-details"><img
                                                src="images/resource/team-1.jpg" title="Oitech" /></a></figure>
                                </div>
                                <div class="info-box">
                                    <h5 class="name"><a href="/team-details">Kevin Hardson</a></h5><span
                                        class="designation">designer</span>
                                    <div class="social-links"><a href="index.html#"><i
                                                class="fab fa-facebook-f"></i></a><a href="index.html#"><i
                                                class="fab fa-twitter"></i></a><a href="index.html#"><i
                                                class="fab fa-pinterest-p"></i></a><a href="index.html#"><i
                                                class="fab fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/team-details"><img
                                                src="images/resource/team-2.jpg" title="Oitech" /></a></figure>
                                </div>
                                <div class="info-box">
                                    <h5 class="name"><a href="/team-details">Jessica Brown</a></h5><span
                                        class="designation">developer</span>
                                    <div class="social-links"><a href="index.html#"><i
                                                class="fab fa-facebook-f"></i></a><a href="index.html#"><i
                                                class="fab fa-twitter"></i></a><a href="index.html#"><i
                                                class="fab fa-pinterest-p"></i></a><a href="index.html#"><i
                                                class="fab fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/team-details"><img
                                                src="images/resource/team-3.jpg" title="Oitech" /></a></figure>
                                </div>
                                <div class="info-box">
                                    <h5 class="name"><a href="/team-details">michale smith</a></h5><span
                                        class="designation">co founder</span>
                                    <div class="social-links"><a href="index.html#"><i
                                                class="fab fa-facebook-f"></i></a><a href="index.html#"><i
                                                class="fab fa-twitter"></i></a><a href="index.html#"><i
                                                class="fab fa-pinterest-p"></i></a><a href="index.html#"><i
                                                class="fab fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/team-details"><img
                                                src="images/resource/team-3.jpg" title="Oitech" /></a></figure>
                                </div>
                                <div class="info-box">
                                    <h5 class="name"><a href="/team-details">michale smith</a></h5><span
                                        class="designation">co founder</span>
                                    <div class="social-links"><a href="index.html#"><i
                                                class="fab fa-facebook-f"></i></a><a href="index.html#"><i
                                                class="fab fa-twitter"></i></a><a href="index.html#"><i
                                                class="fab fa-pinterest-p"></i></a><a href="index.html#"><i
                                                class="fab fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/team-details"><img
                                                src="images/resource/team-1.jpg" title="Oitech" /></a></figure>
                                </div>
                                <div class="info-box">
                                    <h5 class="name"><a href="/team-details">Kevin Hardson</a></h5><span
                                        class="designation">designer</span>
                                    <div class="social-links"><a href="index.html#"><i
                                                class="fab fa-facebook-f"></i></a><a href="index.html#"><i
                                                class="fab fa-twitter"></i></a><a href="index.html#"><i
                                                class="fab fa-pinterest-p"></i></a><a href="index.html#"><i
                                                class="fab fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="/team-details"><img
                                                src="images/resource/team-2.jpg" title="Oitech" /></a></figure>
                                </div>
                                <div class="info-box">
                                    <h5 class="name"><a href="/team-details">Jessica Brown</a></h5><span
                                        class="designation">developer</span>
                                    <div class="social-links"><a href="index.html#"><i
                                                class="fab fa-facebook-f"></i></a><a href="index.html#"><i
                                                class="fab fa-twitter"></i></a><a href="index.html#"><i
                                                class="fab fa-pinterest-p"></i></a><a href="index.html#"><i
                                                class="fab fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('../layout/Footer.ejs') -%>
