<%- include('../layout/Header.ejs') -%>

    <div id="">
        <%- include('../layout/Navbar.ejs') -%>

        <div class="page-wrapper" id="top">
          
            <section class="page-title" style="background-image:url(images/resource/service-details.jpg)">
                <div class="auto-container">
                    <div class="title-outer">
                        <h1 class="title">Testimonials</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index.html">Pages</a></li>
                            <li>Testimonials</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="testimonial-section-three">
                <div class="auto-container">
                    <div class="swiper testimonial-carousel-three">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide testimonial-block-three swiper-slide-duplicate"
                                data-swiper-slide-index="0">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-7.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Mike Hardson</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-block-three swiper-slide-duplicate"
                                data-swiper-slide-index="1">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-8.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Jessica Brown</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-block-three" data-swiper-slide-index="0">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-7.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Mike Hardson</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-block-three" data-swiper-slide-index="1">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-8.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Jessica Brown</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-block-three swiper-slide-duplicate"
                                data-swiper-slide-index="0">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-7.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Mike Hardson</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-block-three swiper-slide-duplicate"
                                data-swiper-slide-index="1">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="thumb"><img src="images/resource/test-thumb-8.jpg"
                                                title="Oitech" /></figure><span class="icon fa fa-quote-right"></span>
                                    </div>
                                    <div class="content-box">
                                        <div class="info-box">
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i></div>
                                            <h5 class="name">Jessica Brown</h5><span class="designation">Designer</span>
                                        </div>
                                        <div class="text">We believe in four pillars of influence that drive our growth.
                                            This is ingrained in everything we do We use technology to create a better
                                            and smarter environment.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('../layout/Footer.ejs') -%>
